.como-anunciar{
    .container{
        .content{
            text-align: center;
            p{
                font-size: 19px;
                line-height: 1.3;
                font-weight: lighter;
                margin-bottom: 20px;
            }
            svg{
                width: 50px;
                height: 50px;
                margin-bottom: 30px;
            }
        }
    }
}