.contato{
    .left-right-content{
        @media screen and (max-width: 768px){
            display: block;
        }
        .left{
            vertical-align: top;
            @media screen and (max-width: 768px){
                display: block;
                padding: 0;
                width: 100%;
            }
            >div {
                p{
                    line-height: 1.7em;
                    color: black;
                }
                span{
                    display: table;
                    .icon{
                        position: relative;
                        display: table-cell;
                        vertical-align: middle;
                        padding-right: 15px;
                        img{
                            height: 28px;
                        }
                        &::after{
                            top: 7px;
                            content: '';
                            position: absolute;
                            height: 24px;
                            width: 1px;
                            background: rgb(191, 191, 191);
                            right: 0;
                        }
                    }
                    p{
                        padding-left: 15px ;
                        display: table-cell;
                        font-size: 25px;
                        vertical-align: middle;
                        @media screen and (max-width: 768px){
                            font-size: 16px;
                        }
                    }
                }
                &:first-of-type{
                    padding: 0 0 30px;
                    position: relative;
                    p{
                        font-size:18px;
                        font-weight: 100;
                    }
                    &::after{
                        bottom: 0;
                        content: '';
                        position: absolute;
                        width: 70%;
                        background: rgb(191, 191, 191);
                        height: 1px;
                        left: 5%;
                    }
                }
                &:not(:first-of-type){
                    padding: 0 0 20px;
                }
                &:nth-of-type(2) {
                    margin-top :30px;
                }
            }
        }
        .right{
            @media screen and (max-width: 768px){
                padding: 0;
            }
            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                p{
                    line-height: 2em;
                    width: 100%;
                    margin-bottom: 10px;  
                    label{
                        font-size: 15px;
                        font-weight: 500;
                    }
                    input{
                        padding:6px;
                        width: 100%;
                        border : 1px solid #bfbfbf;
                    }
                    &:nth-of-type(2){
                        width:47%;
                    }
                    &:nth-of-type(3){
                        width:47%;
                    }
                    textarea{
                        width: 100%;
                        height: 180px;   
                    }
                    input[type='submit'] {
                        background: #363333;
                        color: rgb(255, 255, 255);
                        font-size: 25px;
                        font-weight: 700;
                        line-height: 0.9;
                        width: 50%;
                    }
                }
            }
        }
    }
}