/* Fontes
========================================================================== */
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/Gotham-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/GothamBook.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/GothamMedium.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/Gotham-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Gotham-Black.otf') format('opentype');
}

/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUtiZTaR.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUJiZTaR.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUliZTaR.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUhiZTaR.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvsUtiZTaR.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvsUJiZTaR.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvsUliZTaR.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvsUhiZTaR.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvsUZiZQ.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZosUtiZTaR.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZosUJiZTaR.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZosUliZTaR.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZosUhiZTaR.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZosUZiZQ.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Variáveis globais
========================================================================== */
//sizes
$sm: 420px;
$tb: 768px;

//cores
$primary: #272626;
$secondary: #383636;
$secondary-dark: #7a7a7a;
$secondary-light: #d7d7d7;
$default: #511717;


/* Comportamentos padrão: selecao, links e box-sizing
========================================================================== */
*, *:before, *:after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	transition: all linear .2s;
	&:focus,
	&:hover {
		text-decoration: none;
	}
}

input, button{
	outline: none;
}

img{
	max-width: 100%;
}

section{
	padding: 36px 0;
	position: relative;
}

/* Funções globais
========================================================================== */

/* Classes globais
========================================================================== */

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.container {
	width: 1170px;
	max-width: 100%;
	margin: 0 auto;
	@media screen and (max-width: 1170px) {
		margin: 0 auto;
		padding: 0 20px;
		width: 100%;
	}

    header{
        h1{
            text-transform: uppercase;
            color: $primary;
            font-size: 30px;
            margin-bottom: 40px;

            &:after{
                content: " ";
                display: block;
                width: 120px;
                height: 4px;
                background-color: $default;
                margin-top: 5px;
            }
        }
    }
}

div.left-right-content{
	display: table;
	width: 100%;
	div.left, div.right{
		display: table-cell;
		vertical-align: middle;
		@media screen and (max-width: $sm) {
			display: table-row;
		}
	}
}

.left, .right{
	display: inline-block;
	width: 49.5%;
	position: relative;
	vertical-align: top;
	@media screen and (max-width: $sm) {
		width: 100%;
		padding: 20px;
	}
}

article.card{
    >a{
        display: block;
        position: relative;
        color: #eeeeee;
        overflow: hidden;
        >img{
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease;
        }

        .info{
            position: absolute;
            bottom: 0;
            width: 100%;
            background: rgba(39,34,30,0.90);

            span{
                text-transform: uppercase;
            }
            h2{
                text-transform: uppercase;
                font-weight: 600;
            }

            button{
                font-weight: bold;
                color: $secondary;
                text-transform: uppercase;
                border: none;
                background: #fff;
                transition: all 0.3s ease;

                &:hover{
                    background: $primary;
                    color: #fff;
                }
            }
        }

        &:hover{
            > img{
                transform: scale(1.1);
            }
        }
    }

}

div.a-single{
    height: 170px;

    a{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
/* Html / Body
========================================================================== */
html {
	height: 100%;
	overflow: auto;
}

body {
	height: 100%;
	line-height: 1.6;
	font: normal normal 16px 'Gotham', sans-serif;
}

/* Cabeçalho
========================================================================== */
div#header-container{
	div.top-bar{
        border-bottom: 1px solid $secondary;
        @media screen and (max-width: 1170px) {
            display: none;
        }
		div.container{
			display: flex;
			height: 36px;
		    align-items: center;
			>div:first-child{
				width: 50%;
				a{
					display: block;
					font-family: 'Oswald';
					font-size: 13px;
					font-weight: normal;
					color: $primary;
					background: #f4f4f4;
					width: 80px;
					height: 25px;
					text-align: center;
					line-height: 25px;
					border-radius: 6px;

                    &:hover{
                        color: #f4f4f4;
    					background: $primary;
                    }
				}
			}
			>div:nth-child(2){
				width: 50%;
				text-align: right;
				a{
					background: $primary;
					color: #fff;
				    display: inline-block;
					width: 20px;
					height: 20px;
					text-align: center;
					line-height: 22px;
					font-size: 15px;
					margin-left: 5px;
				}
			}
		}
	}

	header#main-header{
        border-bottom: 2px solid $default;
        @media screen and (max-width: 1170px) {
            display: none;
        }
		div.container{
			display: flex;
			align-items: center;
			height: 162px;
			position: relative;

			h1#wrap-logo{
                width: 25%;
                
                a{
                    img{
                        max-width: 92%;
                    }
                }
			}
			nav#main-menu{
				width: 75%;
                display: flex;
                align-items: center;
                
				ul#menu-principal{
					list-style: none;
					display: flex;
					justify-content: space-between;
					width: 95%;
					>li.menu-item{
						a{
							color: #676767;
							font-weight: 500;
                            line-height: 1.3;
						}

						&:after{
							content: " ";
							display: block;
							width: 0%;
							height: 2px;
							background: $default;
							transition: all 0.3s ease-in-out;
						}

						&:hover{
							&:after{
								width: 100%;
							}
						}
					}
                    >li.current-menu-item{
                        a{
                            color: $default;
                            font-weight: bold;
                            line-height: 1;
                        }
                    }
				}
				div.search{
                    position: relative;
                    width: 5%;
                    height: 35px;
					form#search-form{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: all 0.3s ease;
                        text-align: right;
						right: 0;
                        color: #676767;
                        width: 100%;

                        input{
                            width: 0%;
                            border: 0;;
                            transition: 0.4s ease;
                            height: 35px;
                            
                        }
                        button{
                            background: none;
                            border: none;
                            img{
                                width: 15px;
                                height: 15px;
                            }
                        }

                        &:hover, &:focus-within{
                            width: 328px;
                            input{
                                width: 83%;
                                border-bottom: 2px solid $default;
                            }
                        }
                    }
                }
			}
		}
    }
    
    #container-menu-mobile{
        margin-top: 20px;
        position: relative;
        text-align: center;
        border-bottom: 2px solid $default;
        @media screen and (min-width: 1171px) {
            display: none;
        }

        .logo-mobile{
            width: 45%;
            display: inline-block;
            vertical-align: middle;

            h1{
                text-align: center;
            }
        }

        .icon-menu{
            font-size: 30px;
            cursor: pointer;
            color: $default;
            position: absolute;
            left: 20px;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
    
            a{
                padding: 8px 8px 15px 20px;
                text-decoration: none;
                font-size: 18px;
                color: #818181;
                display: block;
                transition: 0.3s;
    
                &:hover{
                    color: #f1f1f1;
                }
            }
    
            .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }
            @media screen and (max-height: 450px) {
                padding-top: 15px;
                a {
                    font-size: 18px;
                }
            }
        }
    }

}

/* Rodapé
========================================================================== */
div#footer-container{
    a, span, li, div{
        font-family: 'Oswald';
    }

    footer#main-footer{
        background: #353535;

        >div.container{
            display: flex;
            justify-content: space-between;
            height: 246px;
            padding-top: 56px;
            @media screen and (max-width: 1024px) {
                flex-wrap: wrap;
                height: auto;
                justify-content: center;

                > div{
                    margin-bottom: 40px;
                    width: 100%;
                    text-align: center;

                    *{
                        margin: 0 auto;
                    }
                }
            }
            div.logo-footer{
                img{
                    display: block;
                    width: 257px;
                }
                a{
                    display: block;
                    color: $secondary-light;
                    font-size: 20px;
                    &:first-of-type{
                        margin-top: 20px;
                        i{
                            margin-right: 30px;
                        }
                    }
                    &:nth-of-type(2){
                        margin-top: 10px;
                        i{
                            font-size: 28px;
                            margin-right: 20px;
                        }
                    }
                }
            }

            div.sociais{
                h4{
                    color: $secondary-light;
                    text-transform: uppercase;
                    font-size: 20px;
                    font-weight: normal;
                    margin-bottom: 18px;
                }
                a{
                    margin-right: 15px;
                    background: #fff;
                    height: 32px;
                    display: inline-block;
                    img{
                        width: 32px;
                    }
                }
            }

            div.mapa-site{
                margin-right: 50px;
                @media screen and (max-width: 1024px) {
                    margin-right: 0;
                }

                h4{
                    color: $secondary-light;
                    text-transform: uppercase;
                    font-size: 20px;
                    font-weight: normal;
                    margin-bottom: 12px;

                    @media screen and (max-width: 1024px) {
                        text-align: center;
                    }
                }
                #menu-principal-1{
                    list-style: none;
                    column-count: 2;
                    li{
                        a{
                            color: $secondary-light;
                            font-size: 16px;
                            text-transform: uppercase;

                            &:hover{
                                color: $primary;
                            }
                        }
                    }
                }
            }

            div.anunciar{
                h4{
                    color: $secondary-light;
                    text-transform: uppercase;
                    font-size: 17px;
                    font-weight: normal;
                    margin-bottom: 8px;

                    @media screen and (max-width: 1024px) {
                        text-align: center;
                    }
                }
                a{
                    background: #616161;
                    width: 260px;
                    height: 68px;
                    display: flex;
                    align-items: center;
                    span:first-of-type{
                        font-size: 17px;
                        font-weight: normal;
                        color: $primary;
                        background: #f4f4f4;
                        height: 36px;
                        width: 95px;
                        text-align: center;
                        line-height: 36px;
                        border-radius: 6px;
                        margin-left: 7px;
                        transition: all 0.3s ease;

                    }
                    span:nth-of-type(2){
                        width: 134px;
                        font-size: 13px;
                        color: $secondary-light;
                        margin-left: 5px;
                        font-weight: bold;
                    }


                    &:hover{
                        span:first-of-type{
                            color: #f4f4f4;
                            background: $primary;
                        }
                    }
                }
            }
        }

        div.link-al-footer{
			background: #3c3c3c;
            div.container{
                a{
                    color: #6f6f6f;
                    text-decoration: none;
                    height: 50px;
                    line-height: 50px;
                    font-size: 15px;
                    display: block;
                    text-align: right;

                    @media screen and(max-width: 1024px){
                        text-align: center;
                        margin: 0;
                    }
                }
            }
		}
    }
}


/* Conteúdo
========================================================================== */

/* Importações
========================================================================== */
@import 'home';
@import 'coberturas';
@import 'single-coberturas';
@import 'agenda';
@import 'noticias';
@import 'noticias-interna';
@import 'contato';
@import 'promocoes';
@import 'single-promocoes';
@import 'onde-ir';
@import 'single-onde-ir';
@import 'como-anunciar';
@import 'search';
