div#wrapper{
    section.destaque{
        div.container{

            article:first-of-type{
                float: left;
                width: 626px;
                height: 420px;
                @media screen and(max-width: 768px){
                    float: none;
                    margin-bottom: 20px;
                    width: 100%;
                }
                @media screen and(max-width: 1170px)and(min-width: 769px){
                    width: 50%;
                }
                >a{
                    width: 100%;
                    height: 100%;
                    .info{
                        height: 186px;
                        padding: 25px 32px;
                        @media screen and(max-width: 1170px){
                            height: auto;
                            padding: 8px;
                        }

                        h2{
                            font-size: 30px;
                        }

                        button{
                            width: 179px;
                            height: 32px;
                            font-size: 18px;
                            margin-top: 20px;
                        }
                    }
                }
            }

            article:not(:first-of-type){
                width: 525px;
                height: 200px;
                float: right;

                @media screen and(max-width: 768px){
                    width: 100%;
                    float: none;
                }
                @media screen and(max-width: 1170px)and(min-width: 769px){
                    width: 48%;
                }
                >a{
                    width: 100%;
                    height: 100%;

                    .info{
                        height: 132px;
                        padding: 15px 50px 15px 22px;
                        @media screen and(max-width: 768px){
                            height: auto;
                            padding: 8px;
                        }
                        h2{
                            font-size: 20px;
                        }

                        button{
                            width: 168px;
                            height: 29px;
                            margin-top: 15px;
                        }
                    }
                }
            }

            article:last-of-type{
                margin-top: 20px;
            }
        }
    }

    section.anuncio-centro{
        border-top: 1px solid $secondary-light;
        border-bottom: 1px solid $secondary-light;

        .video{
            height: 240px;
            @media screen and (max-width: 550px){
                height: 74px;
            }
            @media screen and (max-width: 768px) and (min-width: 551px){
                height: 140px;
            }
            @media screen and (max-width: 1024px) and (min-width: 769px){
                height: 200px;
            }
            video{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    section.agenda-home{

        border-bottom: 1px solid $secondary-light;

        div.container{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media screen and(max-width: 768px){
                > div{
                    width: 100% !important;
                }
            }
            div.agenda{
                width: 31%;
                @media screen and(max-width: 1170px)and(min-width: 769px){
                    width: 46%;
                }

                #slider-agenda{
                    display: none;

                    .slick-dots{
                        bottom: unset;
                        li{
                            width: 14px;
                            height: 14px;
                            button{
                                background: transparent;
                                border: 2px solid $primary;
                                border-radius: 50%;
                                width: 8px !important;
                                height: 8px !important;

                                &:before{
                                    display: none;
                                }
                            }

                        }
                        .slick-active{
                            button{
                                background: $primary;
                                border: 2px solid $primary;
                            }
                        }
                    }
                }

                article.card-agenda{
                    display: flex;
                    margin-bottom: 5px;
                    border: 1px solid $primary;
                    border-radius: 6px;
                    overflow: hidden;
                    position: relative;
                    width: 99%;
                    @media screen and (max-width: 660px){
                        flex-wrap: wrap;
                    }
                    >div:first-of-type{
                        width: 68px;
                        background: $primary;
                        color: #fff;
                        position: relative;
                        min-height: 74px;
                        @media screen and (max-width: 660px){
                            width: 100%;
                        }
                        p{
                            background: $secondary;
                            color: #fff;
                            font-size: 20px;
                            text-transform: uppercase;
                            font-weight: 600;
                            text-align: center;
                            padding: 4px 0;
                            &:first-child{
                                background: $primary;
                                font-size: 30px;
                                font-weight: bold;
                                padding: 8px 0;
                            }
                            &:nth-child(2){
                                position: absolute;
                                width: 100%;
                                bottom: 0;
                            }
                        }
                    }
                    .info{
                        padding: 5px;
                        @media screen and (max-width: 660px){
                            width: 100%;
                        }
                        @media screen and (min-width: 661px){
                            max-width: 80%;
                        }
                        h2{
                            color: $primary;
                            font-weight: 600;
                            margin-bottom: 8px;
                            font-size: 20px;
                        }
                        p{
                            font-size: 18px;
                            color: $primary;
                            margin-bottom: 15px;
                            @media screen and (max-width: 660px){
                                margin-bottom: 45px;
                            }
                        }
                    }

                    >a:first-of-type{
                        position: absolute;
                        display: block;
                        text-transform: uppercase;
                        color: #fff;
                        background: $secondary;
                        border: 1px solid $secondary;
                        font-weight: bold;
                        font-size: 18px;
                        width: 205px;
                        text-align: center;
                        padding: 5px 0;
                        top: 50%;
                        right: 35px;
                        transform: translateY(-50%);

                        @media screen and (max-width: 660px){
                            top: unset;
                            right: unset;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: 10px;
                        }

                        &:hover{
                            background: #fff;
                            color: $secondary;
                        }
                    }
                }
                
            }

            div.onde-ir{
                width: 64%;
                margin-bottom: 30px;
                @media screen and(max-width: 1170px)and(min-width: 769px){
                    width: 50%;
                }

                div.content{
                    display: flex;
                    justify-content: space-between;
                    @media screen and (max-width: 1170px){
                        flex-wrap: wrap;                        
                    }
                    article.card{
                        margin-bottom: 10px;
                        width: 356px;
                        @media screen and(max-width: 1170px){
                            width: 100%;
                        }
    
                        >a{
                            width: 100%;
                            height: 240px;
    
                            .info{
                                height: 94px;
                                padding: 20px 10px 0 10px;
                                @media screen and (max-width: 1024px){
                                    height: auto;
                                    padding: 8px 8px;
                                }
                                span{
                                    font-size: 11px;
                                }
                                h2{
                                    font-size: 17px;
                                }
                                
                            }
                        }
                    }
                }

                >div:last-child{
                    text-align: right;
                    @media screen and (max-width: 768px){
                        text-align: center;
                    }
                    a{
                        width: 266px;
                        display: inline-block;
                        text-align: center;
                        padding: 5px 0;
                        background: $secondary;
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: bold;
                        margin-top: 5px;
                        border: none;
                        transition: all 0.5s ease;
                        font-size: 18px;
                        &:hover{
                            background: #dedede;
                            color: #6f6c6c;
                        }
                    }
                }
            }

            div.anuncio{
                display: flex;
                justify-content: space-between;
                width: 100%;
                @media screen and(max-width: 768px){
                    flex-wrap: wrap;
                }
                
                div.a-single{
                    width: 48.5%;

                    @media screen and(max-width: 768px){
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    section.promocoes-home{
        div.container{
            div.promocoes{
                display: flex;
                justify-content: space-between;
                @media screen and(max-width: 1024px){
                    flex-wrap: wrap;
                }
                >article.card{
                    width: 381px;
                    background-color: #000;
                    @media screen and(max-width: 550px){
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    @media screen and(max-width: 1024px)and(min-width: 551px){
                        width: 48.5%;
                        margin-bottom: 20px;
                    }
                    @media screen and(max-width: 1169px)and(min-width: 1025px){
                        width: 33%;
                    }

                    >a{
                        width: 100%;
                        height: 236px;

                        .info{
                            height: 110px;
                            padding: 15px 25px;
                            @media screen and (max-width: 1024px){
                                height: auto;
                                padding: 8px 8px;
                            }
                            span{
                                font-size: 13px;
                            }
                            h2{
                                font-size: 20px;
                            }

                            button{
                                width: 186px;
                                height: 28px;
                                font-size: 18px;
                                margin-top: 15px;
                            }
                        }
                    }

                }
            }
        }
    }

    section.anuncio-bottom{
        border-top: 1px solid $secondary-light;

        div.container{
            display: flex;
            justify-content: space-between;
            @media screen and(max-width: 768px){
                flex-wrap: wrap;
            }
            
            div.a-single{
                width: 48.5%;

                @media screen and(max-width: 768px){
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
