div#wrapper{
    section.noticias{
        div.container{
            div.left{
                width: 73%;
                margin-right: 30px;
                @media screen and(max-width: 768px){
                    width: 100%;
                    margin-right: 0px;
                    padding: 0;
                }

                @media screen and(max-width: 1170px)and(min-width: 769px){
                    width: 70%;
                    margin-right: 20px;
                }
                div.content{
                    article{
                        margin-bottom: 40px;
                        >a{
                            width: 100%;
                            height: 380px;
    
                            .info{
                                height: 158px;
                                padding: 15px 25px;

                                @media screen and (max-width: 1024px){
                                    height: auto;
                                    padding: 8px 8px;
                                }
                                span{
                                    font-size: 13px;
                                }
                                h2{
                                    font-size: 20px;
                                }
    
                                button{
                                    width: 168px;
                                    height: 32px;
                                    font-size: 16px;
                                    margin-top: 15px;
                                }

                                p{
                                    margin-top: 12px;
                                }
                            }
                        }
                    }
    
                    div.pagination{
                        text-align: center;
                        width: 100%;
    
                        span, a{
                            width: 30px;
                            height: 30px;
                            background: #f9f8f8;
                            border: 1px solid $secondary-light;
                            display: inline-block;
                            line-height: 26px;
                            font-family: 'Oswald';
                            font-size: 20px;
                            color: $secondary;
                            font-weight: bold;
                            margin: 0 3px;
                        }
                        .current{
                            background: $secondary;
                            color: #fff;
                            border: 1px solid $secondary;
                        }
                        .next, .prev{
                            width: 45px;
                        }
                    }
                }
            }
            div.right{
                width: 24%;
                @media screen and (max-width: 768px){
                    width: 100%;
                }
                @media screen and(max-width: 1170px)and(min-width: 769px){
                    width: 26%;
                }
                header{
                    h2{
                        text-transform: uppercase;
                        color: $primary;
                        font-size: 30px;
                        margin-bottom: 40px;

                        &:after{
                            content: " ";
                            display: block;
                            width: 120px;
                            height: 4px;
                            background-color: $default;
                            margin-top: 5px;
                        }
                    }
                }

                div.content{
                    @media screen and (max-width: 768px) and (min-width: 549px){
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    article.card{
                        margin-bottom: 10px;
    
                        @media screen and (max-width: 768px) and (min-width: 549px){
                            width: 48%;
                        }
    
                        >a{
                            width: 100%;
                            height: 206px;
    
                            .info{
                                height: 94px;
                                padding: 20px 10px 0 10px;
                                @media screen and (max-width: 1024px){
                                    height: auto;
                                    padding: 8px 8px;
                                }
                                span{
                                    font-size: 11px;
                                }
                                h2{
                                    font-size: 17px;
                                }
                                
                            }
                        }
                    }
                    .anuncio{
                        margin-top: 30px;
                        width: 100%;
                        .a-single{
                            height: 355px;
                        }
                    }
                }
            }
        }
    }
}