section.onde-ir{
    div.container{
        div.left{
            width: 73%;
            margin-right: 30px;

            @media screen and(max-width: 768px){
                width: 100%;
                margin-right: 0px;
                padding: 0;
            }

            @media screen and(max-width: 1170px)and(min-width: 769px){
                width: 70%;
                margin-right: 20px;
            }

            .eventos{
                div.content{
                    .form-pesquisa{
                        margin-bottom: 40px;
                        form{
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                            @media screen and (max-width: 1114px){
                                flex-wrap: wrap;
                            }

                            >div{
                                @media screen and (max-width: 439px){
                                    width: 100%;
                                    text-align: center;
                                }
                                label{
                                    display: block;
                                    margin-bottom: 5px;
                                    font-size: 14px;
                                }
                                select{
                                    background: transparent;
                                    border: 1px solid #d7d7d7;
                                    height: 28px;
                                    width: 200px;
                                    padding-left: 5px;
                                    font-size: 13px;
                                }
                                button{
                                    width: 152px;
                                    border: 1px solid $secondary;
                                    background: $secondary;
                                    color: #fff;
                                    font-size: 18px;
                                    text-transform: uppercase;
                                    font-weight: bold;
                                    padding: 4px;
                                    transition: all 0.3s ease;

                                    @media screen and (max-width: 1114px){
                                        width: 200px;
                                    }

                                    &:hover{
                                        background: #fff;
                                        color: $secondary;
                                    }
                                }
                                @media screen and (max-width: 1114px){
                                    margin-top: 20px;
                                }
                            }
                        }
                    }

                    article.card-agenda{
                        position: relative;
                        border-radius: 6px;
                        box-shadow: 0 2px 7px 0 #c3c3c3;
                        margin-bottom: 40px;
                        transition: all 0.3s ease;
                        float: left;
                        width: 100%;

                        &:not(:first-of-type){
                            margin-top: 40px;
                        }
                        &:not(:last-of-type){
                            &:after{
                                content: " ";
                                display: block;
                                width: 90%;
                                height: 2px;
                                background: $default;
                                position: absolute;
                                bottom: -40px;
                                transform: translateX(-50%);
                                left: 50%;
                            }
                        }

                        a{
                            display: flex;
                            justify-content: space-between;
                            @media screen and (max-width: 768px){
                                flex-wrap: wrap;
                            }
                            >div:first-child{
                                margin: 20px 20px 15px 20px;
                                width: 18%;
                                height: 148px;
                                @media screen and (max-width: 768px){
                                    width: 100%;
                                    padding: 20px 0 15px 0;
                                }
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                }
                            }
                            .info{
                                width: 73%;
                                padding: 20px 55px 15px 0;
                                @media screen and (max-width: 768px){
                                    width: 100%;
                                    padding: 20px 0 15px 0;
                                }
                                h2{
                                    color: $primary;
                                    font-weight: 600;
                                    margin-bottom: 8px;
    
                                    &:first-of-type{
                                        font-size: 20px;
                                    }
                                    &:nth-of-type(2){
                                        font-size: 18px;
                                    }
                                }
                                >p{
                                    font-size: 18px;
                                    color: $primary;
                                    margin-bottom: 15px;
                                }
                                >div:first-of-type{
                                    color: $primary;
                                    text-align: justify;
                                    font-size: 15px;
                                    line-height: 1.3;
                                }
        
                                >button{
                                    float: right;
                                    width: 130px;
                                    text-align: center;
                                    padding: 5px 0;
                                    background: #6f6c6c;
                                    color: #dedede;
                                    text-transform: uppercase;
                                    font-weight: bold;
                                    margin-top: 5px;
                                    border: none;
                                    transition: all 0.5s ease;
                                    &:hover{
                                        background: #dedede;
                                        color: #6f6c6c;
                                    }
                                }
                            }
                        }
                         &:hover{
                            box-shadow: 0 2px 14px 0 #c3c3c3;
                         }
                    }
                }
            }

            .eventos-anteriores{
                margin-top: 20px;

                .content{
                    article.card-agenda{
                        display: flex;
                        margin-bottom: 5px;
                        border: 1px solid $primary;
                        border-radius: 6px;
                        overflow: hidden;
                        position: relative;
                        @media screen and (max-width: 660px){
                            flex-wrap: wrap;
                        }
                        >div:first-of-type{
                            width: 68px;
                            background: $primary;
                            color: #fff;
                            @media screen and (max-width: 660px){
                                width: 100%;
                            }
                            p{
                                background: $secondary;
                                color: #fff;
                                font-size: 20px;
                                text-transform: uppercase;
                                font-weight: 600;
                                text-align: center;
                                padding: 4px 0;
                                &:first-child{
                                    background: $primary;
                                    font-size: 30px;
                                    font-weight: bold;
                                    padding: 8px 0;
                                }
                            }
                        }
                        .info{
                            padding: 5px;
                            @media screen and (max-width: 660px){
                                width: 100%;
                            }
                            h2{
                                color: $primary;
                                font-weight: 600;
                                margin-bottom: 8px;
                                font-size: 20px;
                            }
                            p{
                                font-size: 18px;
                                color: $primary;
                                margin-bottom: 15px;
                                @media screen and (max-width: 660px){
                                    margin-bottom: 45px;
                                }
                            }
                        }

                        >a:first-of-type{
                            position: absolute;
                            display: block;
                            text-transform: uppercase;
                            color: #fff;
                            background: $secondary;
                            border: 1px solid $secondary;
                            font-weight: bold;
                            font-size: 18px;
                            width: 205px;
                            text-align: center;
                            padding: 5px 0;
                            top: 50%;
                            right: 35px;
                            transform: translateY(-50%);

                            @media screen and (max-width: 660px){
                                top: unset;
                                right: unset;
                                left: 50%;
                                transform: translateX(-50%);
                                bottom: 10px;
                            }

                            &:hover{
                                background: #fff;
                                color: $secondary;
                            }
                        }
                    }
                }
            }
        }
        div.right{
            width: 24%;
            @media screen and (max-width: 768px){
                width: 100%;
            }
            @media screen and(max-width: 1170px)and(min-width: 769px){
                width: 26%;
            }
            header{
                h2{
                    text-transform: uppercase;
                    color: $primary;
                    font-size: 30px;
                    margin-bottom: 40px;

                    &:after{
                        content: " ";
                        display: block;
                        width: 120px;
                        height: 4px;
                        background-color: $default;
                        margin-top: 5px;
                    }
                }
            }

            div.content{
                @media screen and (max-width: 768px) and (min-width: 549px){
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                article.card{
                    margin-bottom: 10px;

                    @media screen and (max-width: 768px) and (min-width: 549px){
                        width: 48%;
                    }

                    >a{
                        width: 100%;
                        height: 206px;

                        .info{
                            height: 94px;
                            padding: 8px 10px;
                            @media screen and (max-width: 1024px){
                                height: auto;
                                padding: 8px 8px;
                            }
                            h2{
                                font-size: 17px;
                            }

                            button{
                                width: 155px;
                                height: 23px;
                                font-size: 15px;
                                margin-top: 15px;
                            }
                        }
                    }
                }


                .anuncio{
                    margin-top: 30px;
                    width: 100%;
                    .a-single{
                        height: 355px;
                    }
                }
            }
        }
    }
}