div#wrapper{
    section.promocoes{
        div.container{
            div.content{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                article{
                    width: 48.5%;
                    margin-bottom: 40px;
                    @media screen and (max-width: 660px){
                        width: 100%;
                    }
                    >a{
                        width: 100%;
                        height: 250px;

                        .info{
                            height: 110px;
                            padding: 15px 25px;
                            @media screen and (max-width: 1024px){
                                height: auto;
                                padding: 8px 8px;
                            }
                            span{
                                font-size: 13px;
                            }
                            h2{
                                font-size: 20px;
                            }

                            button{
                                width: 186px;
                                height: 28px;
                                font-size: 18px;
                                margin-top: 15px;
                                bottom: 15px;
                                right:25px;
                                @media screen and (min-width: 1170px){
                                    position: absolute;
                                }
                            }
                        }
                    }
                }

                div.pagination{
                    text-align: center;
                    width: 100%;

                    span, a{
                        width: 30px;
                        height: 30px;
                        background: #f9f8f8;
                        border: 1px solid $secondary-light;
                        display: inline-block;
                        line-height: 26px;
                        font-family: 'Oswald';
                        font-size: 20px;
                        color: $secondary;
                        font-weight: bold;
                        margin: 0 3px;
                    }
                    .current{
                        background: $secondary;
                        color: #fff;
                        border: 1px solid $secondary;
                    }
                    .next, .prev{
                        width: 45px;
                    }
                }
            }
        }
    }
}
