div#wrapper{
    .search-page{
        .container{
            article.status-publish{
                margin-bottom: 40px;
                header{
                    h2{
                        text-transform: uppercase;
                        font-size: 30px;
            
                        &:after{
                            content: " ";
                            display: block;
                            width: 120px;
                            height: 4px;
                            background-color: $default;
                            margin-top: 5px;
                        }
                        a{
                            color: $primary;
                        }
                    }
                }
                .entry-meta{
                    time{
                        color: $secondary-dark;
                        font-family: 'Oswald';
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                .entry-summary{
                    p{
                        font-size: 19px;
                        text-align: justify;
                        line-height: 1.3;
                        font-weight: lighter;
                    }
                }
                .entry-utility{
                    display: none;
                }
                
            }
            .navigation{
                > div{
                    a{
                        height: 30px;
                        background: #f9f8f8;
                        border: 1px solid $secondary-light;
                        display: inline-block;
                        line-height: 26px;
                        font-family: 'Oswald';
                        font-size: 20px;
                        color: $secondary;
                        font-weight: bold;
                        width: 190px;
                        text-align: center;
                        margin-bottom: 20px;
                        &:hover{
                            background: $primary;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}