div#wrapper{
    section.interna-promocao{
        div.container{
            div.left{
                width: 73%;
                margin-right: 30px;

                @media screen and(max-width: 768px){
                    width: 100%;
                    margin-right: 0px;
                    padding: 0;
                }

                @media screen and(max-width: 1170px)and(min-width: 769px){
                    width: 70%;
                    margin-right: 20px;
                }
                header{
                    span{
                        color: $secondary-dark;
                        font-family: 'Oswald';
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                div.content{
                    main{
                        .post-thumbnail{
                            height: 500px;
                            margin-bottom: 20px;
                            @media screen and (max-width: 550px){
                                height: 210px;
                            }

                            @media screen and (max-width: 1024px)and(min-width: 551px){
                                height: 320px;
                            }
                            img{
                                object-fit: cover;
                                object-position: center;
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .conteudo-post{
                            margin-bottom: 100px;
                            h2.promocao-title{
                                text-transform: uppercase;
                                font-size: 30px;
                                color: #2d2d2d;
                                font-weight: 600;
                                margin-bottom: 20px;
                            }
                            p{
                                font-size: 18px;
                                text-align: justify;
                                line-height: 1;
                                font-weight: lighter;
                                margin-bottom: 20px;
                            }
                            ul{
                                list-style: none !important;
                                li{
                                    font-size: 18px;
                                    padding: 5px 0;
                                    &::before{
                                        content: " ";
                                        width: 9px;
                                        height: 9px;
                                        display: inline-block;
                                        background: $default;
                                        border-radius: 50%;
                                        margin-right: 5px;
                                        vertical-align: middle;
                                    }
                                }
                            }

                            .btn-participar{
                                background: $primary;
                                color: #fff;
                                text-transform: uppercase;
                                font-size: 22px;
                                font-weight: 700;
                                padding: 15px 25px;
                                border: none;
                                transition: all 0.5s ease;
                                &:hover{
                                    background: #dedede;
                                    color: #6f6c6c;
                                }
                            }

                            svg{
                                width: 50px;
                                vertical-align: bottom;
                                display: none;
                            }
                        }
                    }
                    .comentarios{
                        margin-top: 25px;
                    }
                }
            }
            div.right{
                width: 24%;
                @media screen and (max-width: 768px){
                    width: 100%;
                }
                @media screen and(max-width: 1170px)and(min-width: 769px){
                    width: 26%;
                }
                header{
                    h2{
                        text-transform: uppercase;
                        color: $primary;
                        font-size: 30px;
                        margin-bottom: 40px;

                        &:after{
                            content: " ";
                            display: block;
                            width: 120px;
                            height: 4px;
                            background-color: $default;
                            margin-top: 5px;
                        }
                    }
                }

                div.content{
                    @media screen and (max-width: 768px) and (min-width: 549px){
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    article.card{
                        margin-bottom: 10px;
    
                        @media screen and (max-width: 768px) and (min-width: 549px){
                            width: 48%;
                        }
    
                        >a{
                            width: 100%;
                            height: 206px;
    
                            .info{
                                height: 94px;
                                padding: 20px 10px 0 10px;
                                @media screen and (max-width: 1024px){
                                    height: auto;
                                    padding: 8px 8px;
                                }
                                span{
                                    font-size: 11px;
                                }
                                h2{
                                    font-size: 17px;
                                }
                                
                            }
                        }
                    }
                    .anuncio{
                        margin-top: 30px;
                        width: 100%;
                        .a-single{
                            height: 355px;
                        }
                    }
                }
            }
        }
    }
}
