div#wrapper{
    section.interna-cobertura{
        div.container{
            div.left{
                width: 73%;
                margin-right: 30px;

                @media screen and(max-width: 768px){
                    width: 100%;
                    margin-right: 0px;
                    padding: 0;
                }

                @media screen and(max-width: 1170px)and(min-width: 769px){
                    width: 70%;
                    margin-right: 20px;
                }
                header{
                    span{
                        color: $secondary-dark;
                        font-family: 'Oswald';
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                div.content{
                    #galeria{
                        height: 510px;
                        position: unset;

                        @media screen and (max-width: 768px){
                            height: 300px;
                        }
                        .slick-list{
                            height: 100%;

                            .slick-track{
                                height: 100%;

                                .slick-slide{
                                    text-align: center;
                                    img{
                                        margin: 0 auto;
                                        max-height: 100%;
                                    }
                                }
                            }
                        }

                        .slick-next{
                            height: 176px;
                            width: 50px;
                            text-align: center;
                            top: 42%;

                            &:before{
                                display: none;
                            }
                        }
                        .slick-prev{
                            height: 176px;
                            width: 50px;
                            text-align: center;
                            top: 42%;
                            &:before{
                                display: none;
                            }
                        }
                    }

                    #galeria-thumb{
                        height: 134px;
                        margin-top: 30px;
                        .slick-list{
                            height: 100%;
                            width: 90%;
                            margin: 0px auto;

                            .slick-track{
                                height: 100%;

                                .slick-slide{
                                    text-align: center;
                                    margin: 0px 10px;

                                    @media screen and (min-width: 1025px){
                                        width: 144px !important;
                                    }

                                    img{
                                        object-fit: cover;
                                        object-position: center;
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                        .slick-next{
                            height: 80px;
                            width: 50px;
                            text-align: center;

                            &:before{
                                display: none;
                            }
                        }
                        .slick-prev{
                            height: 80px;
                            width: 50px;
                            text-align: center;

                            &:before{
                                display: none;
                            }
                        }
                    }

                    div.buttons{
                        margin-top: 55px;
                        @media screen and (max-width: 768px){
                            text-align: center;
                            .ssba{
                                >div{
                                    text-align: center !important;
                                }
                            }
                        }
                        
                        > a{
                            margin-top: 5px;
                        }
                        a{
                            margin-right: 20px;
                            display: inline-block;
                            @media screen and (max-width: 768px){
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
            div.right{
                width: 24%;
                @media screen and (max-width: 768px){
                    width: 100%;
                }
                @media screen and(max-width: 1170px)and(min-width: 769px){
                    width: 26%;
                }
                header{
                    margin-top: 28px;
                    h2{
                        text-transform: uppercase;
                        color: $primary;
                        font-size: 30px;
                        margin-bottom: 40px;

                        &:after{
                            content: " ";
                            display: block;
                            width: 120px;
                            height: 4px;
                            background-color: $default;
                            margin-top: 5px;
                        }
                    }
                }

                div.content{
                    @media screen and (max-width: 768px) and (min-width: 549px){
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    article.card{
                        margin-bottom: 10px;
    
                        @media screen and (max-width: 768px) and (min-width: 549px){
                            width: 48%;
                        }
    
                        >a{
                            width: 100%;
                            height: 206px;
    
                            .info{
                                height: 94px;
                                padding: 20px 10px 0 10px;
                                @media screen and (max-width: 1024px){
                                    height: auto;
                                    padding: 8px 8px;
                                }
                                span{
                                    font-size: 11px;
                                }
                                h2{
                                    font-size: 17px;
                                }
                                
                            }
                        }
                    }
                    .anuncio{
                        margin-top: 30px;
                        .a-single{
                            height: 355px;
                        }
                    }
                }
            }
        }
    }
}
