
@media screen and ( min-width: 782px ){
		body.admin-bar .mobmenu, body.admin-bar .mobmenu-panel, .show-nav-left.admin-bar .mobmenu-overlay, .show-nav-right.admin-bar .mobmenu-overlay {
			top: 32px!important;
		}
				body.admin-bar .mobmenu-search-holder {
				top: 32px!important;
		}
}

@media screen and ( max-width: 782px ){
	body.admin-bar .mobmenu, body.admin-bar .mobmenu-panel, .show-nav-left.admin-bar .mobmenu-overlay, .show-nav-right.admin-bar .mobmenu-overlay {
		top: 46px!important;
	}

	body.admin-bar .mob-menu-header-banner {
		top: 0px!important;
	}
		body.admin-bar .mobmenu-search-holder {
		top: 46px!important;
	}
	body.admin-bar  .mob-menu-slideout .mobmenu-search-holder {
		top: px!important;
	}

}

@media screen and ( max-width: 479px ) {
	.mob-menu-overlay .mobmenu-content {
		padding-top: 5%;
	}
}

@media screen and ( max-width: 782px ) {
	.mob-menu-overlay .mobmenu-content {
		padding-top: 10%;
	}
}

@media screen and ( min-width: 782px ) {
	#mobmenu-footer li:hover {
		background-color: ;
	}
	#mobmenu-footer li:hover i {
		color: ;
	}
}

@media only screen and (min-width:1px){
	.mob_menu, .mobmenu-panel, .mobmenu, .mobmenu-cart-panel, .mobmenu-footer-menu-holder, .mobmenu-right-panel, .mobmenu-left-panel  {
		display: none!important;
	}
}
/* Our css Custom Options values */
@media only screen and (max-width:px){
	 {
		display:none !important;
	}
}


@media only screen and (max-width:px) {

			
	.mobmenur-container i {
		color: ;
	}
	.mobmenul-container i {
		color: ;
	}
	.mobmenul-container img {
		max-height:  px;
		float: left;
	}
	.mobmenur-container img {
		max-height:  px;
		float: right;
	}
	.mob-expand-submenu i {
		font-size: px;
	}
	#mobmenuleft li a , #mobmenuleft li a:visited, .mobmenu-content h2, .mobmenu-content h3, .show-nav-left .mob-menu-copyright, .show-nav-left .mob-expand-submenu i {
		color: ;

	}
	.mob-cancel-button {
		font-size: px!important;
	}

	/* 3rd Level Left Menu Items Background color on Hover*/
	.mobmenu-content #mobmenuleft .sub-menu  .sub-menu li a:hover {
		color: ;
	}
	/* 3rd Level Left Menu Items Background color on Hover*/
	.mobmenu-content #mobmenuleft .sub-menu .sub-menu li:hover {
		background-color: ;
	}
	.mobmenu-content #mobmenuleft li:hover, .mobmenu-content #mobmenuright li:hover  {
		background-color: ;
	}
	.mobmenu-content #mobmenuright li:hover  {
		background-color:  ;
	}
	/* 3rd Level Right Menu Items Background color on Hover*/
	.mobmenu-content #mobmenuright .sub-menu .sub-menu li:hover {
		background-color: ;
	}
	/* 3rd Level Right Menu Items Background color on Hover*/
	.mobmenu-content #mobmenuright .sub-menu  .sub-menu li a:hover {
		color: ;
	}

		.mobmenu-content #mobmenuleft .sub-menu {
		background-color:  ;
		margin: 0;
		color:  ;
		width: 100%;
		position: initial;
	}
	.mob-menu-left-bg-holder {
				opacity: 0;
		background-attachment: fixed ;
		background-position: center top ;
		-webkit-background-size:  initial;
		-moz-background-size: initial;
		background-size: initial;
	}
	.mob-menu-right-bg-holder { 
				opacity: 0;
		background-attachment: fixed ;
		background-position: center top ;
		-webkit-background-size: ;
		-moz-background-size: ;
		background-size:  ;
	}
		.mobmenu-content #mobmenuleft .sub-menu a {
		color:  ;
	}
	.mobmenu-content #mobmenuright .sub-menu  a {
		color:  ;
	}
	.mobmenu-content #mobmenuright .sub-menu .sub-menu {
		background-color: inherit;
	}
	.mobmenu-content #mobmenuright .sub-menu {
		background-color:  ;
		margin: 0;
		color:  ;
		position: initial;
		width: 100%;
	}
	#mobmenuleft li:hover a, #mobmenuleft li:hover i {
		color: ;
	}
	#mobmenuright li a , #mobmenuright li a:visited, .show-nav-right .mob-menu-copyright, .show-nav-right .mob-expand-submenu i {
		color:  ;
	}
	#mobmenuright li a:hover {
		color:  ;
	}
	.mobmenul-container {
		top: px;
		margin-left: px;
		margin-top: px;
		height: px;
		float: left;
	}
	.mobmenur-container {
		top: px;
		margin-right: px;
		margin-top: px;
	}
		.mob-menu-logo-holder {
		margin-top:   px;
		text-align:   ;
		margin-left:  0;
		margin-right: 0;
		height:       px;
			}
	.mob-menu-header-holder {
		width:  100% ;
		background-color:  ;
		height: px ;
		position:absolute;
	}
	body.mob-menu-overlay, body.mob-menu-slideout, body.mob-menu-slideout-over, body.mob-menu-slideout-top {
		padding-top: px;
	}
		.mobmenul-container, .mobmenur-container{
		position: relative; 
	}
	.mobmenu-left-panel {
		;;
		width:  %;  
	}
	.mobmenu-right-panel {
		;		width:  %; 
	}
	.show-nav-left .mobmenu-overlay, .show-nav-right .mobmenu-overlay, .show-mob-menu-search .mobmenu-overlay  {
		background: ;
	}
	.mob-menu-slideout-top .mobmenu-overlay {
		display:none!important;
	}
	.mob-menu-slideout.show-nav-left .mobmenu-push-wrap, .mob-menu-slideout.show-nav-left .mob-menu-header-holder {
		-webkit-transform: translateX(%);
		-moz-transform: translateX(%);
		-ms-transform: translateX(%);
		-o-transform: translateX(%);
		transform: translateX(%);
	}
	.mob-menu-slideout.show-nav-right .mobmenu-push-wrap, .mob-menu-slideout.show-nav-right .mob-menu-header-holder {
		-webkit-transform: translateX(-%);
		-moz-transform: translateX(-%);
		-ms-transform: translateX(-%);
		-o-transform: translateX(-%);
		transform: translateX(-%);
	}
	.mob-menu-slideout-top .mobmenu-panel {
		width:  100%;
		height: 100%;
		z-index: 1;
		position: fixed;
		left: 0px;
		top: 0px;
		max-height: 100%;
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	.mob-menu-slideout-top.show-nav-left .show-panel, .mob-menu-slideout-top.show-nav-right .show-panel  {
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
		z-index: 300000;
	}
	.mob-menu-slideout-over.show-nav-left .mobmenu-left-panel {
		overflow: hidden;
	}
	.show-nav-left .mobmenu-panel.show-panel , .show-nav-right .mobmenu-panel.show-panel {
		z-index: 300000;
	}
	/* Hides everything pushed outside of it */
	.mob-menu-slideout .mobmenu-panel, .mob-menu-slideout-over .mobmenu-panel, .mob-menu-slideout .mobmenu-cart-panel, .mob-menu-slideout-over .mobmenu-cart-panel {
		position: fixed;
		top: 0;
		height: 100%;
		overflow-y: auto;
		overflow-x: auto;
		z-index: 1;
		opacity: 1;
	}
	/*End of Mobmenu Slide Over */
	.mobmenu .headertext { 
		color:  ;
	}
	.headertext span {
		position: absolute;
		line-height: px;
	}
	.mobmenu-search-holder {
		top: px;
	}
	/*Premium options  */
	
	/* Mobile Menu Frontend CSS Style*/
	body.mob-menu-overlay, body.mob-menu-slideout, body.mob-menu-slideout-over, body.mob-menu-slideout-top  {
		overflow-x: hidden;
	}
	
	.mobmenu-left-panel li a, .leftmbottom, .leftmtop{
		padding-left: %;
		padding-right: %;
	}
	.mobmenu-content li > .sub-menu li {
		padding-left: calc(*1%);
	}

	.mobmenu-right-panel li, .rightmbottom, .rightmtop{
		padding-left: %;
		padding-right: %;
	}
	.mobmenul-container i {
		line-height: px;
		font-size: px;
		float: left;
	}
	.left-menu-icon-text {
		float: left;
		line-height: px;
		color: ;
	}
	.mobmenu-left-panel .mobmenu-display-name {
		color: ;
	}
	.right-menu-icon-text {
		float: right;
		line-height: px;
		color: ;
	}
	.mobmenur-container i {
		line-height: px;
		font-size: px;
		float: right;
	}
	.hide {
		display: none!important;
	}
	
	.mob-standard-logo {
		display: inline-block;
		height:px!important;	}
	.mob-retina-logo {
		height:px!important;	}
	.mobmenu-content #mobmenuleft > li > a:hover {
		background-color: ;
	}

	.mobmenu-content #mobmenuright > li > a:hover {
		background-color: ;
	}
	.mobmenu-left-panel .mob-cancel-button {
		color: ;
	}
	.mobmenu-right-panel .mob-cancel-button {
		color: ;
	}	
	
}


.mob-menu-logo-holder > .headertext span,.mobmenu input.mob-menu-search-field {
	font-family:"";
	font-size:;
	font-weight:;
	font-style:;
	letter-spacing:;
	text-transform:;
}

.left-menu-icon-text {
	font-family:;
	font-size:;
	font-weight:;
	font-style:;
	line-height:;
	letter-spacing:;
	text-transform:;
}

#mobmenuleft .mob-expand-submenu,#mobmenuleft > .widgettitle,#mobmenuleft li a,#mobmenuleft li a:visited,#mobmenuleft .mobmenu-content h2,#mobmenuleft .mobmenu-content h3,.mobmenu-left-panel .mobmenu-display-name {
	font-family:"";
	font-size:;
	font-weight:;
	font-style:;
	line-height:;
	letter-spacing:;
	text-transform:;
}

.mob-menu-copyright,.mob-menu-copyright a,.mob-menu-copyright p,.mob-menu-copyright h1,.mob-menu-copyright h2,.mob-menu-copyright h3,.mob-menu-copyright h4,.mob-menu-copyright h5,.mob-menu-copyright h6 {
	font-family:"";
	font-size:;
	font-weight:;
	font-style:;
	line-height:;
	letter-spacing:;
	text-transform:;
}

.right-menu-icon-text {
	font-family:"";
	font-size:;
	font-weight:;
	font-style:;
	line-height:;
	letter-spacing:;
	text-transform:;
}

#mobmenuright li a,#mobmenuright li a:visited,#mobmenuright .mobmenu-content h2,#mobmenuright .mobmenu-content h3,.mobmenu-left-panel .mobmenu-display-name {
	font-family:"";
	font-size:;
	font-weight:;
	font-style:;
	line-height:;
	letter-spacing:;
	text-transform:;
}

