@charset "UTF-8";
/* Fontes
========================================================================== */
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/Gotham-Light.otf") format("opentype"); }

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/GothamBook.ttf") format("truetype"); }

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/GothamMedium.ttf") format("truetype"); }

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/Gotham-Bold.otf") format("opentype"); }

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/Gotham-Black.otf") format("opentype"); }

/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUtiZTaR.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUJiZTaR.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUliZTaR.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUhiZTaR.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvsUtiZTaR.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvsUJiZTaR.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvsUliZTaR.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvsUhiZTaR.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvsUZiZQ.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZosUtiZTaR.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZosUJiZTaR.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZosUliZTaR.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZosUhiZTaR.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZosUZiZQ.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* Variáveis globais
========================================================================== */
/* Comportamentos padrão: selecao, links e box-sizing
========================================================================== */
*, *:before, *:after {
  box-sizing: border-box; }

a {
  text-decoration: none;
  transition: all linear .2s; }
  a:focus, a:hover {
    text-decoration: none; }

input, button {
  outline: none; }

img {
  max-width: 100%; }

section {
  padding: 36px 0;
  position: relative; }

/* Funções globais
========================================================================== */
/* Classes globais
========================================================================== */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto; }
  @media screen and (max-width: 1170px) {
    .container {
      margin: 0 auto;
      padding: 0 20px;
      width: 100%; } }
  .container header h1 {
    text-transform: uppercase;
    color: #272626;
    font-size: 30px;
    margin-bottom: 40px; }
    .container header h1:after {
      content: " ";
      display: block;
      width: 120px;
      height: 4px;
      background-color: #511717;
      margin-top: 5px; }

div.left-right-content {
  display: table;
  width: 100%; }
  div.left-right-content div.left, div.left-right-content div.right {
    display: table-cell;
    vertical-align: middle; }
    @media screen and (max-width: 420px) {
      div.left-right-content div.left, div.left-right-content div.right {
        display: table-row; } }

.left, .right {
  display: inline-block;
  width: 49.5%;
  position: relative;
  vertical-align: top; }
  @media screen and (max-width: 420px) {
    .left, .right {
      width: 100%;
      padding: 20px; } }

article.card > a {
  display: block;
  position: relative;
  color: #eeeeee;
  overflow: hidden; }
  article.card > a > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease; }
  article.card > a .info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(39, 34, 30, 0.9); }
    article.card > a .info span {
      text-transform: uppercase; }
    article.card > a .info h2 {
      text-transform: uppercase;
      font-weight: 600; }
    article.card > a .info button {
      font-weight: bold;
      color: #383636;
      text-transform: uppercase;
      border: none;
      background: #fff;
      transition: all 0.3s ease; }
      article.card > a .info button:hover {
        background: #272626;
        color: #fff; }
  article.card > a:hover > img {
    transform: scale(1.1); }

div.a-single {
  height: 170px; }
  div.a-single a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }

/* Html / Body
========================================================================== */
html {
  height: 100%;
  overflow: auto; }

body {
  height: 100%;
  line-height: 1.6;
  font: normal normal 16px 'Gotham', sans-serif; }

/* Cabeçalho
========================================================================== */
div#header-container div.top-bar {
  border-bottom: 1px solid #383636; }
  @media screen and (max-width: 1170px) {
    div#header-container div.top-bar {
      display: none; } }
  div#header-container div.top-bar div.container {
    display: flex;
    height: 36px;
    align-items: center; }
    div#header-container div.top-bar div.container > div:first-child {
      width: 50%; }
      div#header-container div.top-bar div.container > div:first-child a {
        display: block;
        font-family: 'Oswald';
        font-size: 13px;
        font-weight: normal;
        color: #272626;
        background: #f4f4f4;
        width: 80px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        border-radius: 6px; }
        div#header-container div.top-bar div.container > div:first-child a:hover {
          color: #f4f4f4;
          background: #272626; }
    div#header-container div.top-bar div.container > div:nth-child(2) {
      width: 50%;
      text-align: right; }
      div#header-container div.top-bar div.container > div:nth-child(2) a {
        background: #272626;
        color: #fff;
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 22px;
        font-size: 15px;
        margin-left: 5px; }

div#header-container header#main-header {
  border-bottom: 2px solid #511717; }
  @media screen and (max-width: 1170px) {
    div#header-container header#main-header {
      display: none; } }
  div#header-container header#main-header div.container {
    display: flex;
    align-items: center;
    height: 162px;
    position: relative; }
    div#header-container header#main-header div.container h1#wrap-logo {
      width: 25%; }
      div#header-container header#main-header div.container h1#wrap-logo a img {
        max-width: 92%; }
    div#header-container header#main-header div.container nav#main-menu {
      width: 75%;
      display: flex;
      align-items: center; }
      div#header-container header#main-header div.container nav#main-menu ul#menu-principal {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 95%; }
        div#header-container header#main-header div.container nav#main-menu ul#menu-principal > li.menu-item a {
          color: #676767;
          font-weight: 500;
          line-height: 1.3; }
        div#header-container header#main-header div.container nav#main-menu ul#menu-principal > li.menu-item:after {
          content: " ";
          display: block;
          width: 0%;
          height: 2px;
          background: #511717;
          transition: all 0.3s ease-in-out; }
        div#header-container header#main-header div.container nav#main-menu ul#menu-principal > li.menu-item:hover:after {
          width: 100%; }
        div#header-container header#main-header div.container nav#main-menu ul#menu-principal > li.current-menu-item a {
          color: #511717;
          font-weight: bold;
          line-height: 1; }
      div#header-container header#main-header div.container nav#main-menu div.search {
        position: relative;
        width: 5%;
        height: 35px; }
        div#header-container header#main-header div.container nav#main-menu div.search form#search-form {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          transition: all 0.3s ease;
          text-align: right;
          right: 0;
          color: #676767;
          width: 100%; }
          div#header-container header#main-header div.container nav#main-menu div.search form#search-form input {
            width: 0%;
            border: 0;
            transition: 0.4s ease;
            height: 35px; }
          div#header-container header#main-header div.container nav#main-menu div.search form#search-form button {
            background: none;
            border: none; }
            div#header-container header#main-header div.container nav#main-menu div.search form#search-form button img {
              width: 15px;
              height: 15px; }
          div#header-container header#main-header div.container nav#main-menu div.search form#search-form:hover, div#header-container header#main-header div.container nav#main-menu div.search form#search-form:focus-within {
            width: 328px; }
            div#header-container header#main-header div.container nav#main-menu div.search form#search-form:hover input, div#header-container header#main-header div.container nav#main-menu div.search form#search-form:focus-within input {
              width: 83%;
              border-bottom: 2px solid #511717; }

div#header-container #container-menu-mobile {
  margin-top: 20px;
  position: relative;
  text-align: center;
  border-bottom: 2px solid #511717; }
  @media screen and (min-width: 1171px) {
    div#header-container #container-menu-mobile {
      display: none; } }
  div#header-container #container-menu-mobile .logo-mobile {
    width: 45%;
    display: inline-block;
    vertical-align: middle; }
    div#header-container #container-menu-mobile .logo-mobile h1 {
      text-align: center; }
  div#header-container #container-menu-mobile .icon-menu {
    font-size: 30px;
    cursor: pointer;
    color: #511717;
    position: absolute;
    left: 20px; }
  div#header-container #container-menu-mobile .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px; }
    div#header-container #container-menu-mobile .sidenav a {
      padding: 8px 8px 15px 20px;
      text-decoration: none;
      font-size: 18px;
      color: #818181;
      display: block;
      transition: 0.3s; }
      div#header-container #container-menu-mobile .sidenav a:hover {
        color: #f1f1f1; }
    div#header-container #container-menu-mobile .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px; }
    @media screen and (max-height: 450px) {
      div#header-container #container-menu-mobile .sidenav {
        padding-top: 15px; }
        div#header-container #container-menu-mobile .sidenav a {
          font-size: 18px; } }

/* Rodapé
========================================================================== */
div#footer-container a, div#footer-container span, div#footer-container li, div#footer-container div {
  font-family: 'Oswald'; }

div#footer-container footer#main-footer {
  background: #353535; }
  div#footer-container footer#main-footer > div.container {
    display: flex;
    justify-content: space-between;
    height: 246px;
    padding-top: 56px; }
    @media screen and (max-width: 1024px) {
      div#footer-container footer#main-footer > div.container {
        flex-wrap: wrap;
        height: auto;
        justify-content: center; }
        div#footer-container footer#main-footer > div.container > div {
          margin-bottom: 40px;
          width: 100%;
          text-align: center; }
          div#footer-container footer#main-footer > div.container > div * {
            margin: 0 auto; } }
    div#footer-container footer#main-footer > div.container div.logo-footer img {
      display: block;
      width: 257px; }
    div#footer-container footer#main-footer > div.container div.logo-footer a {
      display: block;
      color: #d7d7d7;
      font-size: 20px; }
      div#footer-container footer#main-footer > div.container div.logo-footer a:first-of-type {
        margin-top: 20px; }
        div#footer-container footer#main-footer > div.container div.logo-footer a:first-of-type i {
          margin-right: 30px; }
      div#footer-container footer#main-footer > div.container div.logo-footer a:nth-of-type(2) {
        margin-top: 10px; }
        div#footer-container footer#main-footer > div.container div.logo-footer a:nth-of-type(2) i {
          font-size: 28px;
          margin-right: 20px; }
    div#footer-container footer#main-footer > div.container div.sociais h4 {
      color: #d7d7d7;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 18px; }
    div#footer-container footer#main-footer > div.container div.sociais a {
      margin-right: 15px;
      background: #fff;
      height: 32px;
      display: inline-block; }
      div#footer-container footer#main-footer > div.container div.sociais a img {
        width: 32px; }
    div#footer-container footer#main-footer > div.container div.mapa-site {
      margin-right: 50px; }
      @media screen and (max-width: 1024px) {
        div#footer-container footer#main-footer > div.container div.mapa-site {
          margin-right: 0; } }
      div#footer-container footer#main-footer > div.container div.mapa-site h4 {
        color: #d7d7d7;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 12px; }
        @media screen and (max-width: 1024px) {
          div#footer-container footer#main-footer > div.container div.mapa-site h4 {
            text-align: center; } }
      div#footer-container footer#main-footer > div.container div.mapa-site #menu-principal-1 {
        list-style: none;
        column-count: 2; }
        div#footer-container footer#main-footer > div.container div.mapa-site #menu-principal-1 li a {
          color: #d7d7d7;
          font-size: 16px;
          text-transform: uppercase; }
          div#footer-container footer#main-footer > div.container div.mapa-site #menu-principal-1 li a:hover {
            color: #272626; }
    div#footer-container footer#main-footer > div.container div.anunciar h4 {
      color: #d7d7d7;
      text-transform: uppercase;
      font-size: 17px;
      font-weight: normal;
      margin-bottom: 8px; }
      @media screen and (max-width: 1024px) {
        div#footer-container footer#main-footer > div.container div.anunciar h4 {
          text-align: center; } }
    div#footer-container footer#main-footer > div.container div.anunciar a {
      background: #616161;
      width: 260px;
      height: 68px;
      display: flex;
      align-items: center; }
      div#footer-container footer#main-footer > div.container div.anunciar a span:first-of-type {
        font-size: 17px;
        font-weight: normal;
        color: #272626;
        background: #f4f4f4;
        height: 36px;
        width: 95px;
        text-align: center;
        line-height: 36px;
        border-radius: 6px;
        margin-left: 7px;
        transition: all 0.3s ease; }
      div#footer-container footer#main-footer > div.container div.anunciar a span:nth-of-type(2) {
        width: 134px;
        font-size: 13px;
        color: #d7d7d7;
        margin-left: 5px;
        font-weight: bold; }
      div#footer-container footer#main-footer > div.container div.anunciar a:hover span:first-of-type {
        color: #f4f4f4;
        background: #272626; }
  div#footer-container footer#main-footer div.link-al-footer {
    background: #3c3c3c; }
    div#footer-container footer#main-footer div.link-al-footer div.container a {
      color: #6f6f6f;
      text-decoration: none;
      height: 50px;
      line-height: 50px;
      font-size: 15px;
      display: block;
      text-align: right; }
      @media screen and (max-width: 1024px) {
        div#footer-container footer#main-footer div.link-al-footer div.container a {
          text-align: center;
          margin: 0; } }

/* Conteúdo
========================================================================== */
/* Importações
========================================================================== */
div#wrapper section.destaque div.container article:first-of-type {
  float: left;
  width: 626px;
  height: 420px; }
  @media screen and (max-width: 768px) {
    div#wrapper section.destaque div.container article:first-of-type {
      float: none;
      margin-bottom: 20px;
      width: 100%; } }
  @media screen and (max-width: 1170px) and (min-width: 769px) {
    div#wrapper section.destaque div.container article:first-of-type {
      width: 50%; } }
  div#wrapper section.destaque div.container article:first-of-type > a {
    width: 100%;
    height: 100%; }
    div#wrapper section.destaque div.container article:first-of-type > a .info {
      height: 186px;
      padding: 25px 32px; }
      @media screen and (max-width: 1170px) {
        div#wrapper section.destaque div.container article:first-of-type > a .info {
          height: auto;
          padding: 8px; } }
      div#wrapper section.destaque div.container article:first-of-type > a .info h2 {
        font-size: 30px; }
      div#wrapper section.destaque div.container article:first-of-type > a .info button {
        width: 179px;
        height: 32px;
        font-size: 18px;
        margin-top: 20px; }

div#wrapper section.destaque div.container article:not(:first-of-type) {
  width: 525px;
  height: 200px;
  float: right; }
  @media screen and (max-width: 768px) {
    div#wrapper section.destaque div.container article:not(:first-of-type) {
      width: 100%;
      float: none; } }
  @media screen and (max-width: 1170px) and (min-width: 769px) {
    div#wrapper section.destaque div.container article:not(:first-of-type) {
      width: 48%; } }
  div#wrapper section.destaque div.container article:not(:first-of-type) > a {
    width: 100%;
    height: 100%; }
    div#wrapper section.destaque div.container article:not(:first-of-type) > a .info {
      height: 132px;
      padding: 15px 50px 15px 22px; }
      @media screen and (max-width: 768px) {
        div#wrapper section.destaque div.container article:not(:first-of-type) > a .info {
          height: auto;
          padding: 8px; } }
      div#wrapper section.destaque div.container article:not(:first-of-type) > a .info h2 {
        font-size: 20px; }
      div#wrapper section.destaque div.container article:not(:first-of-type) > a .info button {
        width: 168px;
        height: 29px;
        margin-top: 15px; }

div#wrapper section.destaque div.container article:last-of-type {
  margin-top: 20px; }

div#wrapper section.anuncio-centro {
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7; }
  div#wrapper section.anuncio-centro .video {
    height: 240px; }
    @media screen and (max-width: 550px) {
      div#wrapper section.anuncio-centro .video {
        height: 74px; } }
    @media screen and (max-width: 768px) and (min-width: 551px) {
      div#wrapper section.anuncio-centro .video {
        height: 140px; } }
    @media screen and (max-width: 1024px) and (min-width: 769px) {
      div#wrapper section.anuncio-centro .video {
        height: 200px; } }
    div#wrapper section.anuncio-centro .video video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }

div#wrapper section.agenda-home {
  border-bottom: 1px solid #d7d7d7; }
  div#wrapper section.agenda-home div.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media screen and (max-width: 768px) {
      div#wrapper section.agenda-home div.container > div {
        width: 100% !important; } }
    div#wrapper section.agenda-home div.container div.agenda {
      width: 31%; }
      @media screen and (max-width: 1170px) and (min-width: 769px) {
        div#wrapper section.agenda-home div.container div.agenda {
          width: 46%; } }
      div#wrapper section.agenda-home div.container div.agenda #slider-agenda {
        display: none; }
        div#wrapper section.agenda-home div.container div.agenda #slider-agenda .slick-dots {
          bottom: unset; }
          div#wrapper section.agenda-home div.container div.agenda #slider-agenda .slick-dots li {
            width: 14px;
            height: 14px; }
            div#wrapper section.agenda-home div.container div.agenda #slider-agenda .slick-dots li button {
              background: transparent;
              border: 2px solid #272626;
              border-radius: 50%;
              width: 8px !important;
              height: 8px !important; }
              div#wrapper section.agenda-home div.container div.agenda #slider-agenda .slick-dots li button:before {
                display: none; }
          div#wrapper section.agenda-home div.container div.agenda #slider-agenda .slick-dots .slick-active button {
            background: #272626;
            border: 2px solid #272626; }
      div#wrapper section.agenda-home div.container div.agenda article.card-agenda {
        display: flex;
        margin-bottom: 5px;
        border: 1px solid #272626;
        border-radius: 6px;
        overflow: hidden;
        position: relative;
        width: 99%; }
        @media screen and (max-width: 660px) {
          div#wrapper section.agenda-home div.container div.agenda article.card-agenda {
            flex-wrap: wrap; } }
        div#wrapper section.agenda-home div.container div.agenda article.card-agenda > div:first-of-type {
          width: 68px;
          background: #272626;
          color: #fff;
          position: relative;
          min-height: 74px; }
          @media screen and (max-width: 660px) {
            div#wrapper section.agenda-home div.container div.agenda article.card-agenda > div:first-of-type {
              width: 100%; } }
          div#wrapper section.agenda-home div.container div.agenda article.card-agenda > div:first-of-type p {
            background: #383636;
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            padding: 4px 0; }
            div#wrapper section.agenda-home div.container div.agenda article.card-agenda > div:first-of-type p:first-child {
              background: #272626;
              font-size: 30px;
              font-weight: bold;
              padding: 8px 0; }
            div#wrapper section.agenda-home div.container div.agenda article.card-agenda > div:first-of-type p:nth-child(2) {
              position: absolute;
              width: 100%;
              bottom: 0; }
        div#wrapper section.agenda-home div.container div.agenda article.card-agenda .info {
          padding: 5px; }
          @media screen and (max-width: 660px) {
            div#wrapper section.agenda-home div.container div.agenda article.card-agenda .info {
              width: 100%; } }
          @media screen and (min-width: 661px) {
            div#wrapper section.agenda-home div.container div.agenda article.card-agenda .info {
              max-width: 80%; } }
          div#wrapper section.agenda-home div.container div.agenda article.card-agenda .info h2 {
            color: #272626;
            font-weight: 600;
            margin-bottom: 8px;
            font-size: 20px; }
          div#wrapper section.agenda-home div.container div.agenda article.card-agenda .info p {
            font-size: 18px;
            color: #272626;
            margin-bottom: 15px; }
            @media screen and (max-width: 660px) {
              div#wrapper section.agenda-home div.container div.agenda article.card-agenda .info p {
                margin-bottom: 45px; } }
        div#wrapper section.agenda-home div.container div.agenda article.card-agenda > a:first-of-type {
          position: absolute;
          display: block;
          text-transform: uppercase;
          color: #fff;
          background: #383636;
          border: 1px solid #383636;
          font-weight: bold;
          font-size: 18px;
          width: 205px;
          text-align: center;
          padding: 5px 0;
          top: 50%;
          right: 35px;
          transform: translateY(-50%); }
          @media screen and (max-width: 660px) {
            div#wrapper section.agenda-home div.container div.agenda article.card-agenda > a:first-of-type {
              top: unset;
              right: unset;
              left: 50%;
              transform: translateX(-50%);
              bottom: 10px; } }
          div#wrapper section.agenda-home div.container div.agenda article.card-agenda > a:first-of-type:hover {
            background: #fff;
            color: #383636; }
    div#wrapper section.agenda-home div.container div.onde-ir {
      width: 64%;
      margin-bottom: 30px; }
      @media screen and (max-width: 1170px) and (min-width: 769px) {
        div#wrapper section.agenda-home div.container div.onde-ir {
          width: 50%; } }
      div#wrapper section.agenda-home div.container div.onde-ir div.content {
        display: flex;
        justify-content: space-between; }
        @media screen and (max-width: 1170px) {
          div#wrapper section.agenda-home div.container div.onde-ir div.content {
            flex-wrap: wrap; } }
        div#wrapper section.agenda-home div.container div.onde-ir div.content article.card {
          margin-bottom: 10px;
          width: 356px; }
          @media screen and (max-width: 1170px) {
            div#wrapper section.agenda-home div.container div.onde-ir div.content article.card {
              width: 100%; } }
          div#wrapper section.agenda-home div.container div.onde-ir div.content article.card > a {
            width: 100%;
            height: 240px; }
            div#wrapper section.agenda-home div.container div.onde-ir div.content article.card > a .info {
              height: 94px;
              padding: 20px 10px 0 10px; }
              @media screen and (max-width: 1024px) {
                div#wrapper section.agenda-home div.container div.onde-ir div.content article.card > a .info {
                  height: auto;
                  padding: 8px 8px; } }
              div#wrapper section.agenda-home div.container div.onde-ir div.content article.card > a .info span {
                font-size: 11px; }
              div#wrapper section.agenda-home div.container div.onde-ir div.content article.card > a .info h2 {
                font-size: 17px; }
      div#wrapper section.agenda-home div.container div.onde-ir > div:last-child {
        text-align: right; }
        @media screen and (max-width: 768px) {
          div#wrapper section.agenda-home div.container div.onde-ir > div:last-child {
            text-align: center; } }
        div#wrapper section.agenda-home div.container div.onde-ir > div:last-child a {
          width: 266px;
          display: inline-block;
          text-align: center;
          padding: 5px 0;
          background: #383636;
          color: #fff;
          text-transform: uppercase;
          font-weight: bold;
          margin-top: 5px;
          border: none;
          transition: all 0.5s ease;
          font-size: 18px; }
          div#wrapper section.agenda-home div.container div.onde-ir > div:last-child a:hover {
            background: #dedede;
            color: #6f6c6c; }
    div#wrapper section.agenda-home div.container div.anuncio {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      @media screen and (max-width: 768px) {
        div#wrapper section.agenda-home div.container div.anuncio {
          flex-wrap: wrap; } }
      div#wrapper section.agenda-home div.container div.anuncio div.a-single {
        width: 48.5%; }
        @media screen and (max-width: 768px) {
          div#wrapper section.agenda-home div.container div.anuncio div.a-single {
            width: 100%;
            margin-bottom: 20px; } }

div#wrapper section.promocoes-home div.container div.promocoes {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 1024px) {
    div#wrapper section.promocoes-home div.container div.promocoes {
      flex-wrap: wrap; } }
  div#wrapper section.promocoes-home div.container div.promocoes > article.card {
    width: 381px;
    background-color: #000; }
    @media screen and (max-width: 550px) {
      div#wrapper section.promocoes-home div.container div.promocoes > article.card {
        width: 100%;
        margin-bottom: 20px; } }
    @media screen and (max-width: 1024px) and (min-width: 551px) {
      div#wrapper section.promocoes-home div.container div.promocoes > article.card {
        width: 48.5%;
        margin-bottom: 20px; } }
    @media screen and (max-width: 1169px) and (min-width: 1025px) {
      div#wrapper section.promocoes-home div.container div.promocoes > article.card {
        width: 33%; } }
    div#wrapper section.promocoes-home div.container div.promocoes > article.card > a {
      width: 100%;
      height: 236px; }
      div#wrapper section.promocoes-home div.container div.promocoes > article.card > a .info {
        height: 110px;
        padding: 15px 25px; }
        @media screen and (max-width: 1024px) {
          div#wrapper section.promocoes-home div.container div.promocoes > article.card > a .info {
            height: auto;
            padding: 8px 8px; } }
        div#wrapper section.promocoes-home div.container div.promocoes > article.card > a .info span {
          font-size: 13px; }
        div#wrapper section.promocoes-home div.container div.promocoes > article.card > a .info h2 {
          font-size: 20px; }
        div#wrapper section.promocoes-home div.container div.promocoes > article.card > a .info button {
          width: 186px;
          height: 28px;
          font-size: 18px;
          margin-top: 15px; }

div#wrapper section.anuncio-bottom {
  border-top: 1px solid #d7d7d7; }
  div#wrapper section.anuncio-bottom div.container {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      div#wrapper section.anuncio-bottom div.container {
        flex-wrap: wrap; } }
    div#wrapper section.anuncio-bottom div.container div.a-single {
      width: 48.5%; }
      @media screen and (max-width: 768px) {
        div#wrapper section.anuncio-bottom div.container div.a-single {
          width: 100%;
          margin-bottom: 20px; } }

div#wrapper section.coberturas div.container div.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  div#wrapper section.coberturas div.container div.content article {
    width: 48.5%;
    margin-bottom: 40px; }
    @media screen and (max-width: 660px) {
      div#wrapper section.coberturas div.container div.content article {
        width: 100%; } }
    div#wrapper section.coberturas div.container div.content article > a {
      width: 100%;
      height: 250px; }
      div#wrapper section.coberturas div.container div.content article > a .info {
        height: 132px;
        padding: 15px 25px; }
        @media screen and (max-width: 1024px) {
          div#wrapper section.coberturas div.container div.content article > a .info {
            height: auto;
            padding: 8px 8px; } }
        div#wrapper section.coberturas div.container div.content article > a .info span {
          font-size: 13px; }
        div#wrapper section.coberturas div.container div.content article > a .info h2 {
          font-size: 20px; }
        div#wrapper section.coberturas div.container div.content article > a .info button {
          width: 168px;
          height: 32px;
          font-size: 16px;
          margin-top: 15px; }
  div#wrapper section.coberturas div.container div.content div.pagination {
    text-align: center;
    width: 100%; }
    div#wrapper section.coberturas div.container div.content div.pagination span, div#wrapper section.coberturas div.container div.content div.pagination a {
      width: 30px;
      height: 30px;
      background: #f9f8f8;
      border: 1px solid #d7d7d7;
      display: inline-block;
      line-height: 26px;
      font-family: 'Oswald';
      font-size: 20px;
      color: #383636;
      font-weight: bold;
      margin: 0 3px; }
    div#wrapper section.coberturas div.container div.content div.pagination .current {
      background: #383636;
      color: #fff;
      border: 1px solid #383636; }
    div#wrapper section.coberturas div.container div.content div.pagination .next, div#wrapper section.coberturas div.container div.content div.pagination .prev {
      width: 45px; }

div#wrapper section.interna-cobertura div.container div.left {
  width: 73%;
  margin-right: 30px; }
  @media screen and (max-width: 768px) {
    div#wrapper section.interna-cobertura div.container div.left {
      width: 100%;
      margin-right: 0px;
      padding: 0; } }
  @media screen and (max-width: 1170px) and (min-width: 769px) {
    div#wrapper section.interna-cobertura div.container div.left {
      width: 70%;
      margin-right: 20px; } }
  div#wrapper section.interna-cobertura div.container div.left header span {
    color: #7a7a7a;
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: bold; }
  div#wrapper section.interna-cobertura div.container div.left div.content #galeria {
    height: 510px;
    position: unset; }
    @media screen and (max-width: 768px) {
      div#wrapper section.interna-cobertura div.container div.left div.content #galeria {
        height: 300px; } }
    div#wrapper section.interna-cobertura div.container div.left div.content #galeria .slick-list {
      height: 100%; }
      div#wrapper section.interna-cobertura div.container div.left div.content #galeria .slick-list .slick-track {
        height: 100%; }
        div#wrapper section.interna-cobertura div.container div.left div.content #galeria .slick-list .slick-track .slick-slide {
          text-align: center; }
          div#wrapper section.interna-cobertura div.container div.left div.content #galeria .slick-list .slick-track .slick-slide img {
            margin: 0 auto;
            max-height: 100%; }
    div#wrapper section.interna-cobertura div.container div.left div.content #galeria .slick-next {
      height: 176px;
      width: 50px;
      text-align: center;
      top: 42%; }
      div#wrapper section.interna-cobertura div.container div.left div.content #galeria .slick-next:before {
        display: none; }
    div#wrapper section.interna-cobertura div.container div.left div.content #galeria .slick-prev {
      height: 176px;
      width: 50px;
      text-align: center;
      top: 42%; }
      div#wrapper section.interna-cobertura div.container div.left div.content #galeria .slick-prev:before {
        display: none; }
  div#wrapper section.interna-cobertura div.container div.left div.content #galeria-thumb {
    height: 134px;
    margin-top: 30px; }
    div#wrapper section.interna-cobertura div.container div.left div.content #galeria-thumb .slick-list {
      height: 100%;
      width: 90%;
      margin: 0px auto; }
      div#wrapper section.interna-cobertura div.container div.left div.content #galeria-thumb .slick-list .slick-track {
        height: 100%; }
        div#wrapper section.interna-cobertura div.container div.left div.content #galeria-thumb .slick-list .slick-track .slick-slide {
          text-align: center;
          margin: 0px 10px; }
          @media screen and (min-width: 1025px) {
            div#wrapper section.interna-cobertura div.container div.left div.content #galeria-thumb .slick-list .slick-track .slick-slide {
              width: 144px !important; } }
          div#wrapper section.interna-cobertura div.container div.left div.content #galeria-thumb .slick-list .slick-track .slick-slide img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%; }
    div#wrapper section.interna-cobertura div.container div.left div.content #galeria-thumb .slick-next {
      height: 80px;
      width: 50px;
      text-align: center; }
      div#wrapper section.interna-cobertura div.container div.left div.content #galeria-thumb .slick-next:before {
        display: none; }
    div#wrapper section.interna-cobertura div.container div.left div.content #galeria-thumb .slick-prev {
      height: 80px;
      width: 50px;
      text-align: center; }
      div#wrapper section.interna-cobertura div.container div.left div.content #galeria-thumb .slick-prev:before {
        display: none; }
  div#wrapper section.interna-cobertura div.container div.left div.content div.buttons {
    margin-top: 55px; }
    @media screen and (max-width: 768px) {
      div#wrapper section.interna-cobertura div.container div.left div.content div.buttons {
        text-align: center; }
        div#wrapper section.interna-cobertura div.container div.left div.content div.buttons .ssba > div {
          text-align: center !important; } }
    div#wrapper section.interna-cobertura div.container div.left div.content div.buttons > a {
      margin-top: 5px; }
    div#wrapper section.interna-cobertura div.container div.left div.content div.buttons a {
      margin-right: 20px;
      display: inline-block; }
      @media screen and (max-width: 768px) {
        div#wrapper section.interna-cobertura div.container div.left div.content div.buttons a {
          margin-right: 0; } }

div#wrapper section.interna-cobertura div.container div.right {
  width: 24%; }
  @media screen and (max-width: 768px) {
    div#wrapper section.interna-cobertura div.container div.right {
      width: 100%; } }
  @media screen and (max-width: 1170px) and (min-width: 769px) {
    div#wrapper section.interna-cobertura div.container div.right {
      width: 26%; } }
  div#wrapper section.interna-cobertura div.container div.right header {
    margin-top: 28px; }
    div#wrapper section.interna-cobertura div.container div.right header h2 {
      text-transform: uppercase;
      color: #272626;
      font-size: 30px;
      margin-bottom: 40px; }
      div#wrapper section.interna-cobertura div.container div.right header h2:after {
        content: " ";
        display: block;
        width: 120px;
        height: 4px;
        background-color: #511717;
        margin-top: 5px; }
  @media screen and (max-width: 768px) and (min-width: 549px) {
    div#wrapper section.interna-cobertura div.container div.right div.content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }
  div#wrapper section.interna-cobertura div.container div.right div.content article.card {
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) and (min-width: 549px) {
      div#wrapper section.interna-cobertura div.container div.right div.content article.card {
        width: 48%; } }
    div#wrapper section.interna-cobertura div.container div.right div.content article.card > a {
      width: 100%;
      height: 206px; }
      div#wrapper section.interna-cobertura div.container div.right div.content article.card > a .info {
        height: 94px;
        padding: 20px 10px 0 10px; }
        @media screen and (max-width: 1024px) {
          div#wrapper section.interna-cobertura div.container div.right div.content article.card > a .info {
            height: auto;
            padding: 8px 8px; } }
        div#wrapper section.interna-cobertura div.container div.right div.content article.card > a .info span {
          font-size: 11px; }
        div#wrapper section.interna-cobertura div.container div.right div.content article.card > a .info h2 {
          font-size: 17px; }
  div#wrapper section.interna-cobertura div.container div.right div.content .anuncio {
    margin-top: 30px; }
    div#wrapper section.interna-cobertura div.container div.right div.content .anuncio .a-single {
      height: 355px; }

section.agenda div.container div.left {
  width: 73%;
  margin-right: 30px; }
  @media screen and (max-width: 768px) {
    section.agenda div.container div.left {
      width: 100%;
      margin-right: 0px;
      padding: 0; } }
  @media screen and (max-width: 1170px) and (min-width: 769px) {
    section.agenda div.container div.left {
      width: 70%;
      margin-right: 20px; } }
  section.agenda div.container div.left .eventos div.content article.card-agenda {
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    transition: all 0.3s ease-in-out; }
    @media screen and (max-width: 768px) {
      section.agenda div.container div.left .eventos div.content article.card-agenda {
        flex-wrap: wrap; } }
    section.agenda div.container div.left .eventos div.content article.card-agenda > div:first-child {
      padding: 20px 20px 15px 20px;
      width: 30%; }
      @media screen and (max-width: 768px) {
        section.agenda div.container div.left .eventos div.content article.card-agenda > div:first-child {
          width: 100%;
          padding: 20px 0 15px 0; } }
      section.agenda div.container div.left .eventos div.content article.card-agenda > div:first-child a > div:first-of-type {
        text-align: center;
        margin-bottom: 20px;
        height: 130px; }
        section.agenda div.container div.left .eventos div.content article.card-agenda > div:first-child a > div:first-of-type img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center; }
      section.agenda div.container div.left .eventos div.content article.card-agenda > div:first-child a > div:nth-of-type(2) {
        display: flex;
        align-items: center;
        border-radius: 6px;
        overflow: hidden; }
        @media screen and (max-width: 1065px) and (min-width: 769px) {
          section.agenda div.container div.left .eventos div.content article.card-agenda > div:first-child a > div:nth-of-type(2) {
            flex-wrap: wrap; } }
        section.agenda div.container div.left .eventos div.content article.card-agenda > div:first-child a > div:nth-of-type(2) p {
          background: #383636;
          color: #fff;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 600;
          width: 70%;
          text-align: center;
          padding: 4.6px 0; }
          @media screen and (max-width: 1065px) and (min-width: 769px) {
            section.agenda div.container div.left .eventos div.content article.card-agenda > div:first-child a > div:nth-of-type(2) p {
              width: 100%;
              font-size: 16px; } }
          section.agenda div.container div.left .eventos div.content article.card-agenda > div:first-child a > div:nth-of-type(2) p:first-child {
            background: #272626;
            font-size: 25px;
            font-weight: bold;
            width: 30%;
            padding: 2px 0; }
            @media screen and (max-width: 1065px) and (min-width: 769px) {
              section.agenda div.container div.left .eventos div.content article.card-agenda > div:first-child a > div:nth-of-type(2) p:first-child {
                width: 100%; } }
    section.agenda div.container div.left .eventos div.content article.card-agenda .info {
      width: 70%;
      padding: 20px 40px 15px 0; }
      @media screen and (max-width: 768px) {
        section.agenda div.container div.left .eventos div.content article.card-agenda .info {
          width: 100%;
          padding: 20px 0 15px 0; } }
      section.agenda div.container div.left .eventos div.content article.card-agenda .info > a h2 {
        color: #272626;
        font-weight: 600;
        margin-bottom: 8px; }
        section.agenda div.container div.left .eventos div.content article.card-agenda .info > a h2:first-of-type {
          font-size: 20px; }
        section.agenda div.container div.left .eventos div.content article.card-agenda .info > a h2:nth-of-type(2) {
          font-size: 18px; }
      section.agenda div.container div.left .eventos div.content article.card-agenda .info > a > p {
        font-size: 18px;
        color: #272626;
        margin-bottom: 15px; }
      section.agenda div.container div.left .eventos div.content article.card-agenda .info > a > div:first-of-type {
        color: #272626;
        text-align: justify;
        font-size: 15px;
        line-height: 1.3; }
      section.agenda div.container div.left .eventos div.content article.card-agenda .info > a:nth-of-type(2) {
        float: right;
        display: block;
        width: 130px;
        text-align: center;
        padding: 5px 0;
        background: #6f6c6c;
        color: #dedede;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 5px; }
        section.agenda div.container div.left .eventos div.content article.card-agenda .info > a:nth-of-type(2):hover {
          background: #dedede;
          color: #6f6c6c; }
    section.agenda div.container div.left .eventos div.content article.card-agenda:hover {
      box-shadow: 0 2px 7px 0 #c3c3c3; }
  section.agenda div.container div.left .eventos-anteriores {
    margin-top: 20px; }
    section.agenda div.container div.left .eventos-anteriores .content article.card-agenda {
      display: flex;
      margin-bottom: 5px;
      border: 1px solid #272626;
      border-radius: 6px;
      overflow: hidden;
      position: relative; }
      @media screen and (max-width: 660px) {
        section.agenda div.container div.left .eventos-anteriores .content article.card-agenda {
          flex-wrap: wrap; } }
      section.agenda div.container div.left .eventos-anteriores .content article.card-agenda > div:first-of-type {
        width: 68px;
        background: #272626;
        color: #fff; }
        @media screen and (max-width: 660px) {
          section.agenda div.container div.left .eventos-anteriores .content article.card-agenda > div:first-of-type {
            width: 100%; } }
        section.agenda div.container div.left .eventos-anteriores .content article.card-agenda > div:first-of-type p {
          background: #383636;
          color: #fff;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 600;
          text-align: center;
          padding: 4px 0; }
          section.agenda div.container div.left .eventos-anteriores .content article.card-agenda > div:first-of-type p:first-child {
            background: #272626;
            font-size: 30px;
            font-weight: bold;
            padding: 8px 0; }
      section.agenda div.container div.left .eventos-anteriores .content article.card-agenda .info {
        padding: 5px; }
        @media screen and (max-width: 660px) {
          section.agenda div.container div.left .eventos-anteriores .content article.card-agenda .info {
            width: 100%; } }
        section.agenda div.container div.left .eventos-anteriores .content article.card-agenda .info h2 {
          color: #272626;
          font-weight: 600;
          margin-bottom: 8px;
          font-size: 20px; }
        section.agenda div.container div.left .eventos-anteriores .content article.card-agenda .info p {
          font-size: 18px;
          color: #272626;
          margin-bottom: 15px; }
          @media screen and (max-width: 660px) {
            section.agenda div.container div.left .eventos-anteriores .content article.card-agenda .info p {
              margin-bottom: 45px; } }
      section.agenda div.container div.left .eventos-anteriores .content article.card-agenda > a:first-of-type {
        position: absolute;
        display: block;
        text-transform: uppercase;
        color: #fff;
        background: #383636;
        border: 1px solid #383636;
        font-weight: bold;
        font-size: 18px;
        width: 205px;
        text-align: center;
        padding: 5px 0;
        top: 50%;
        right: 35px;
        transform: translateY(-50%); }
        @media screen and (max-width: 660px) {
          section.agenda div.container div.left .eventos-anteriores .content article.card-agenda > a:first-of-type {
            top: unset;
            right: unset;
            left: 50%;
            transform: translateX(-50%);
            bottom: 10px; } }
        section.agenda div.container div.left .eventos-anteriores .content article.card-agenda > a:first-of-type:hover {
          background: #fff;
          color: #383636; }

section.agenda div.container div.right {
  width: 24%; }
  @media screen and (max-width: 768px) {
    section.agenda div.container div.right {
      width: 100%; } }
  @media screen and (max-width: 1170px) and (min-width: 769px) {
    section.agenda div.container div.right {
      width: 26%; } }
  section.agenda div.container div.right header h2 {
    text-transform: uppercase;
    color: #272626;
    font-size: 30px;
    margin-bottom: 40px; }
    section.agenda div.container div.right header h2:after {
      content: " ";
      display: block;
      width: 120px;
      height: 4px;
      background-color: #511717;
      margin-top: 5px; }
  @media screen and (max-width: 768px) and (min-width: 549px) {
    section.agenda div.container div.right div.content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }
  section.agenda div.container div.right div.content article.card {
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) and (min-width: 549px) {
      section.agenda div.container div.right div.content article.card {
        width: 48%; } }
    section.agenda div.container div.right div.content article.card > a {
      width: 100%;
      height: 206px; }
      section.agenda div.container div.right div.content article.card > a .info {
        height: 94px;
        padding: 8px 10px; }
        @media screen and (max-width: 1024px) {
          section.agenda div.container div.right div.content article.card > a .info {
            height: auto;
            padding: 8px 8px; } }
        section.agenda div.container div.right div.content article.card > a .info h2 {
          font-size: 17px; }
        section.agenda div.container div.right div.content article.card > a .info button {
          width: 155px;
          height: 23px;
          font-size: 15px;
          margin-top: 15px; }
  section.agenda div.container div.right div.content .anuncio {
    margin-top: 30px;
    width: 100%; }
    section.agenda div.container div.right div.content .anuncio .a-single {
      height: 355px; }

div#wrapper section.noticias div.container div.left {
  width: 73%;
  margin-right: 30px; }
  @media screen and (max-width: 768px) {
    div#wrapper section.noticias div.container div.left {
      width: 100%;
      margin-right: 0px;
      padding: 0; } }
  @media screen and (max-width: 1170px) and (min-width: 769px) {
    div#wrapper section.noticias div.container div.left {
      width: 70%;
      margin-right: 20px; } }
  div#wrapper section.noticias div.container div.left div.content article {
    margin-bottom: 40px; }
    div#wrapper section.noticias div.container div.left div.content article > a {
      width: 100%;
      height: 380px; }
      div#wrapper section.noticias div.container div.left div.content article > a .info {
        height: 158px;
        padding: 15px 25px; }
        @media screen and (max-width: 1024px) {
          div#wrapper section.noticias div.container div.left div.content article > a .info {
            height: auto;
            padding: 8px 8px; } }
        div#wrapper section.noticias div.container div.left div.content article > a .info span {
          font-size: 13px; }
        div#wrapper section.noticias div.container div.left div.content article > a .info h2 {
          font-size: 20px; }
        div#wrapper section.noticias div.container div.left div.content article > a .info button {
          width: 168px;
          height: 32px;
          font-size: 16px;
          margin-top: 15px; }
        div#wrapper section.noticias div.container div.left div.content article > a .info p {
          margin-top: 12px; }
  div#wrapper section.noticias div.container div.left div.content div.pagination {
    text-align: center;
    width: 100%; }
    div#wrapper section.noticias div.container div.left div.content div.pagination span, div#wrapper section.noticias div.container div.left div.content div.pagination a {
      width: 30px;
      height: 30px;
      background: #f9f8f8;
      border: 1px solid #d7d7d7;
      display: inline-block;
      line-height: 26px;
      font-family: 'Oswald';
      font-size: 20px;
      color: #383636;
      font-weight: bold;
      margin: 0 3px; }
    div#wrapper section.noticias div.container div.left div.content div.pagination .current {
      background: #383636;
      color: #fff;
      border: 1px solid #383636; }
    div#wrapper section.noticias div.container div.left div.content div.pagination .next, div#wrapper section.noticias div.container div.left div.content div.pagination .prev {
      width: 45px; }

div#wrapper section.noticias div.container div.right {
  width: 24%; }
  @media screen and (max-width: 768px) {
    div#wrapper section.noticias div.container div.right {
      width: 100%; } }
  @media screen and (max-width: 1170px) and (min-width: 769px) {
    div#wrapper section.noticias div.container div.right {
      width: 26%; } }
  div#wrapper section.noticias div.container div.right header h2 {
    text-transform: uppercase;
    color: #272626;
    font-size: 30px;
    margin-bottom: 40px; }
    div#wrapper section.noticias div.container div.right header h2:after {
      content: " ";
      display: block;
      width: 120px;
      height: 4px;
      background-color: #511717;
      margin-top: 5px; }
  @media screen and (max-width: 768px) and (min-width: 549px) {
    div#wrapper section.noticias div.container div.right div.content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }
  div#wrapper section.noticias div.container div.right div.content article.card {
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) and (min-width: 549px) {
      div#wrapper section.noticias div.container div.right div.content article.card {
        width: 48%; } }
    div#wrapper section.noticias div.container div.right div.content article.card > a {
      width: 100%;
      height: 206px; }
      div#wrapper section.noticias div.container div.right div.content article.card > a .info {
        height: 94px;
        padding: 20px 10px 0 10px; }
        @media screen and (max-width: 1024px) {
          div#wrapper section.noticias div.container div.right div.content article.card > a .info {
            height: auto;
            padding: 8px 8px; } }
        div#wrapper section.noticias div.container div.right div.content article.card > a .info span {
          font-size: 11px; }
        div#wrapper section.noticias div.container div.right div.content article.card > a .info h2 {
          font-size: 17px; }
  div#wrapper section.noticias div.container div.right div.content .anuncio {
    margin-top: 30px;
    width: 100%; }
    div#wrapper section.noticias div.container div.right div.content .anuncio .a-single {
      height: 355px; }

div#wrapper section.interna-noticias div.container div.left {
  width: 73%;
  margin-right: 30px; }
  @media screen and (max-width: 768px) {
    div#wrapper section.interna-noticias div.container div.left {
      width: 100%;
      margin-right: 0px;
      padding: 0; } }
  @media screen and (max-width: 1170px) and (min-width: 769px) {
    div#wrapper section.interna-noticias div.container div.left {
      width: 70%;
      margin-right: 20px; } }
  div#wrapper section.interna-noticias div.container div.left header span {
    color: #7a7a7a;
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: bold; }
  div#wrapper section.interna-noticias div.container div.left div.content main .post-thumbnail {
    height: 500px;
    margin-bottom: 35px; }
    @media screen and (max-width: 550px) {
      div#wrapper section.interna-noticias div.container div.left div.content main .post-thumbnail {
        height: 210px; } }
    @media screen and (max-width: 1024px) and (min-width: 551px) {
      div#wrapper section.interna-noticias div.container div.left div.content main .post-thumbnail {
        height: 320px; } }
    div#wrapper section.interna-noticias div.container div.left div.content main .post-thumbnail img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%; }
  div#wrapper section.interna-noticias div.container div.left div.content main .conteudo-post p {
    font-size: 19px;
    text-align: justify;
    line-height: 1.3;
    font-weight: lighter;
    margin-bottom: 20px; }
  div#wrapper section.interna-noticias div.container div.left div.content .comentarios {
    margin-top: 25px; }

div#wrapper section.interna-noticias div.container div.right {
  width: 24%; }
  @media screen and (max-width: 768px) {
    div#wrapper section.interna-noticias div.container div.right {
      width: 100%; } }
  @media screen and (max-width: 1170px) and (min-width: 769px) {
    div#wrapper section.interna-noticias div.container div.right {
      width: 26%; } }
  div#wrapper section.interna-noticias div.container div.right header {
    margin-top: 28px; }
    div#wrapper section.interna-noticias div.container div.right header h2 {
      text-transform: uppercase;
      color: #272626;
      font-size: 30px;
      margin-bottom: 40px; }
      div#wrapper section.interna-noticias div.container div.right header h2:after {
        content: " ";
        display: block;
        width: 120px;
        height: 4px;
        background-color: #511717;
        margin-top: 5px; }
  @media screen and (max-width: 768px) and (min-width: 549px) {
    div#wrapper section.interna-noticias div.container div.right div.content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }
  div#wrapper section.interna-noticias div.container div.right div.content article.card {
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) and (min-width: 549px) {
      div#wrapper section.interna-noticias div.container div.right div.content article.card {
        width: 48%; } }
    div#wrapper section.interna-noticias div.container div.right div.content article.card > a {
      width: 100%;
      height: 206px; }
      div#wrapper section.interna-noticias div.container div.right div.content article.card > a .info {
        height: 94px;
        padding: 20px 10px 0 10px; }
        @media screen and (max-width: 1024px) {
          div#wrapper section.interna-noticias div.container div.right div.content article.card > a .info {
            height: auto;
            padding: 8px 8px; } }
        div#wrapper section.interna-noticias div.container div.right div.content article.card > a .info span {
          font-size: 11px; }
        div#wrapper section.interna-noticias div.container div.right div.content article.card > a .info h2 {
          font-size: 17px; }
  div#wrapper section.interna-noticias div.container div.right div.content .anuncio {
    margin-top: 30px;
    width: 100%; }
    div#wrapper section.interna-noticias div.container div.right div.content .anuncio .a-single {
      height: 355px; }

@media screen and (max-width: 768px) {
  .contato .left-right-content {
    display: block; } }

.contato .left-right-content .left {
  vertical-align: top; }
  @media screen and (max-width: 768px) {
    .contato .left-right-content .left {
      display: block;
      padding: 0;
      width: 100%; } }
  .contato .left-right-content .left > div p {
    line-height: 1.7em;
    color: black; }
  .contato .left-right-content .left > div span {
    display: table; }
    .contato .left-right-content .left > div span .icon {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      padding-right: 15px; }
      .contato .left-right-content .left > div span .icon img {
        height: 28px; }
      .contato .left-right-content .left > div span .icon::after {
        top: 7px;
        content: '';
        position: absolute;
        height: 24px;
        width: 1px;
        background: #bfbfbf;
        right: 0; }
    .contato .left-right-content .left > div span p {
      padding-left: 15px;
      display: table-cell;
      font-size: 25px;
      vertical-align: middle; }
      @media screen and (max-width: 768px) {
        .contato .left-right-content .left > div span p {
          font-size: 16px; } }
  .contato .left-right-content .left > div:first-of-type {
    padding: 0 0 30px;
    position: relative; }
    .contato .left-right-content .left > div:first-of-type p {
      font-size: 18px;
      font-weight: 100; }
    .contato .left-right-content .left > div:first-of-type::after {
      bottom: 0;
      content: '';
      position: absolute;
      width: 70%;
      background: #bfbfbf;
      height: 1px;
      left: 5%; }
  .contato .left-right-content .left > div:not(:first-of-type) {
    padding: 0 0 20px; }
  .contato .left-right-content .left > div:nth-of-type(2) {
    margin-top: 30px; }

@media screen and (max-width: 768px) {
  .contato .left-right-content .right {
    padding: 0; } }

.contato .left-right-content .right form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .contato .left-right-content .right form p {
    line-height: 2em;
    width: 100%;
    margin-bottom: 10px; }
    .contato .left-right-content .right form p label {
      font-size: 15px;
      font-weight: 500; }
    .contato .left-right-content .right form p input {
      padding: 6px;
      width: 100%;
      border: 1px solid #bfbfbf; }
    .contato .left-right-content .right form p:nth-of-type(2) {
      width: 47%; }
    .contato .left-right-content .right form p:nth-of-type(3) {
      width: 47%; }
    .contato .left-right-content .right form p textarea {
      width: 100%;
      height: 180px; }
    .contato .left-right-content .right form p input[type='submit'] {
      background: #363333;
      color: white;
      font-size: 25px;
      font-weight: 700;
      line-height: 0.9;
      width: 50%; }

div#wrapper section.promocoes div.container div.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  div#wrapper section.promocoes div.container div.content article {
    width: 48.5%;
    margin-bottom: 40px; }
    @media screen and (max-width: 660px) {
      div#wrapper section.promocoes div.container div.content article {
        width: 100%; } }
    div#wrapper section.promocoes div.container div.content article > a {
      width: 100%;
      height: 250px; }
      div#wrapper section.promocoes div.container div.content article > a .info {
        height: 110px;
        padding: 15px 25px; }
        @media screen and (max-width: 1024px) {
          div#wrapper section.promocoes div.container div.content article > a .info {
            height: auto;
            padding: 8px 8px; } }
        div#wrapper section.promocoes div.container div.content article > a .info span {
          font-size: 13px; }
        div#wrapper section.promocoes div.container div.content article > a .info h2 {
          font-size: 20px; }
        div#wrapper section.promocoes div.container div.content article > a .info button {
          width: 186px;
          height: 28px;
          font-size: 18px;
          margin-top: 15px;
          bottom: 15px;
          right: 25px; }
          @media screen and (min-width: 1170px) {
            div#wrapper section.promocoes div.container div.content article > a .info button {
              position: absolute; } }
  div#wrapper section.promocoes div.container div.content div.pagination {
    text-align: center;
    width: 100%; }
    div#wrapper section.promocoes div.container div.content div.pagination span, div#wrapper section.promocoes div.container div.content div.pagination a {
      width: 30px;
      height: 30px;
      background: #f9f8f8;
      border: 1px solid #d7d7d7;
      display: inline-block;
      line-height: 26px;
      font-family: 'Oswald';
      font-size: 20px;
      color: #383636;
      font-weight: bold;
      margin: 0 3px; }
    div#wrapper section.promocoes div.container div.content div.pagination .current {
      background: #383636;
      color: #fff;
      border: 1px solid #383636; }
    div#wrapper section.promocoes div.container div.content div.pagination .next, div#wrapper section.promocoes div.container div.content div.pagination .prev {
      width: 45px; }

div#wrapper section.interna-promocao div.container div.left {
  width: 73%;
  margin-right: 30px; }
  @media screen and (max-width: 768px) {
    div#wrapper section.interna-promocao div.container div.left {
      width: 100%;
      margin-right: 0px;
      padding: 0; } }
  @media screen and (max-width: 1170px) and (min-width: 769px) {
    div#wrapper section.interna-promocao div.container div.left {
      width: 70%;
      margin-right: 20px; } }
  div#wrapper section.interna-promocao div.container div.left header span {
    color: #7a7a7a;
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: bold; }
  div#wrapper section.interna-promocao div.container div.left div.content main .post-thumbnail {
    height: 500px;
    margin-bottom: 20px; }
    @media screen and (max-width: 550px) {
      div#wrapper section.interna-promocao div.container div.left div.content main .post-thumbnail {
        height: 210px; } }
    @media screen and (max-width: 1024px) and (min-width: 551px) {
      div#wrapper section.interna-promocao div.container div.left div.content main .post-thumbnail {
        height: 320px; } }
    div#wrapper section.interna-promocao div.container div.left div.content main .post-thumbnail img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%; }
  div#wrapper section.interna-promocao div.container div.left div.content main .conteudo-post {
    margin-bottom: 100px; }
    div#wrapper section.interna-promocao div.container div.left div.content main .conteudo-post h2.promocao-title {
      text-transform: uppercase;
      font-size: 30px;
      color: #2d2d2d;
      font-weight: 600;
      margin-bottom: 20px; }
    div#wrapper section.interna-promocao div.container div.left div.content main .conteudo-post p {
      font-size: 18px;
      text-align: justify;
      line-height: 1;
      font-weight: lighter;
      margin-bottom: 20px; }
    div#wrapper section.interna-promocao div.container div.left div.content main .conteudo-post ul {
      list-style: none !important; }
      div#wrapper section.interna-promocao div.container div.left div.content main .conteudo-post ul li {
        font-size: 18px;
        padding: 5px 0; }
        div#wrapper section.interna-promocao div.container div.left div.content main .conteudo-post ul li::before {
          content: " ";
          width: 9px;
          height: 9px;
          display: inline-block;
          background: #511717;
          border-radius: 50%;
          margin-right: 5px;
          vertical-align: middle; }
    div#wrapper section.interna-promocao div.container div.left div.content main .conteudo-post .btn-participar {
      background: #272626;
      color: #fff;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 700;
      padding: 15px 25px;
      border: none;
      transition: all 0.5s ease; }
      div#wrapper section.interna-promocao div.container div.left div.content main .conteudo-post .btn-participar:hover {
        background: #dedede;
        color: #6f6c6c; }
    div#wrapper section.interna-promocao div.container div.left div.content main .conteudo-post svg {
      width: 50px;
      vertical-align: bottom;
      display: none; }
  div#wrapper section.interna-promocao div.container div.left div.content .comentarios {
    margin-top: 25px; }

div#wrapper section.interna-promocao div.container div.right {
  width: 24%; }
  @media screen and (max-width: 768px) {
    div#wrapper section.interna-promocao div.container div.right {
      width: 100%; } }
  @media screen and (max-width: 1170px) and (min-width: 769px) {
    div#wrapper section.interna-promocao div.container div.right {
      width: 26%; } }
  div#wrapper section.interna-promocao div.container div.right header h2 {
    text-transform: uppercase;
    color: #272626;
    font-size: 30px;
    margin-bottom: 40px; }
    div#wrapper section.interna-promocao div.container div.right header h2:after {
      content: " ";
      display: block;
      width: 120px;
      height: 4px;
      background-color: #511717;
      margin-top: 5px; }
  @media screen and (max-width: 768px) and (min-width: 549px) {
    div#wrapper section.interna-promocao div.container div.right div.content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }
  div#wrapper section.interna-promocao div.container div.right div.content article.card {
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) and (min-width: 549px) {
      div#wrapper section.interna-promocao div.container div.right div.content article.card {
        width: 48%; } }
    div#wrapper section.interna-promocao div.container div.right div.content article.card > a {
      width: 100%;
      height: 206px; }
      div#wrapper section.interna-promocao div.container div.right div.content article.card > a .info {
        height: 94px;
        padding: 20px 10px 0 10px; }
        @media screen and (max-width: 1024px) {
          div#wrapper section.interna-promocao div.container div.right div.content article.card > a .info {
            height: auto;
            padding: 8px 8px; } }
        div#wrapper section.interna-promocao div.container div.right div.content article.card > a .info span {
          font-size: 11px; }
        div#wrapper section.interna-promocao div.container div.right div.content article.card > a .info h2 {
          font-size: 17px; }
  div#wrapper section.interna-promocao div.container div.right div.content .anuncio {
    margin-top: 30px;
    width: 100%; }
    div#wrapper section.interna-promocao div.container div.right div.content .anuncio .a-single {
      height: 355px; }

section.onde-ir div.container div.left {
  width: 73%;
  margin-right: 30px; }
  @media screen and (max-width: 768px) {
    section.onde-ir div.container div.left {
      width: 100%;
      margin-right: 0px;
      padding: 0; } }
  @media screen and (max-width: 1170px) and (min-width: 769px) {
    section.onde-ir div.container div.left {
      width: 70%;
      margin-right: 20px; } }
  section.onde-ir div.container div.left .eventos div.content .form-pesquisa {
    margin-bottom: 40px; }
    section.onde-ir div.container div.left .eventos div.content .form-pesquisa form {
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
      @media screen and (max-width: 1114px) {
        section.onde-ir div.container div.left .eventos div.content .form-pesquisa form {
          flex-wrap: wrap; } }
      @media screen and (max-width: 439px) {
        section.onde-ir div.container div.left .eventos div.content .form-pesquisa form > div {
          width: 100%;
          text-align: center; } }
      section.onde-ir div.container div.left .eventos div.content .form-pesquisa form > div label {
        display: block;
        margin-bottom: 5px;
        font-size: 14px; }
      section.onde-ir div.container div.left .eventos div.content .form-pesquisa form > div select {
        background: transparent;
        border: 1px solid #d7d7d7;
        height: 28px;
        width: 200px;
        padding-left: 5px;
        font-size: 13px; }
      section.onde-ir div.container div.left .eventos div.content .form-pesquisa form > div button {
        width: 152px;
        border: 1px solid #383636;
        background: #383636;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 4px;
        transition: all 0.3s ease; }
        @media screen and (max-width: 1114px) {
          section.onde-ir div.container div.left .eventos div.content .form-pesquisa form > div button {
            width: 200px; } }
        section.onde-ir div.container div.left .eventos div.content .form-pesquisa form > div button:hover {
          background: #fff;
          color: #383636; }
      @media screen and (max-width: 1114px) {
        section.onde-ir div.container div.left .eventos div.content .form-pesquisa form > div {
          margin-top: 20px; } }
  section.onde-ir div.container div.left .eventos div.content article.card-agenda {
    position: relative;
    border-radius: 6px;
    box-shadow: 0 2px 7px 0 #c3c3c3;
    margin-bottom: 40px;
    transition: all 0.3s ease;
    float: left;
    width: 100%; }
    section.onde-ir div.container div.left .eventos div.content article.card-agenda:not(:first-of-type) {
      margin-top: 40px; }
    section.onde-ir div.container div.left .eventos div.content article.card-agenda:not(:last-of-type):after {
      content: " ";
      display: block;
      width: 90%;
      height: 2px;
      background: #511717;
      position: absolute;
      bottom: -40px;
      transform: translateX(-50%);
      left: 50%; }
    section.onde-ir div.container div.left .eventos div.content article.card-agenda a {
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 768px) {
        section.onde-ir div.container div.left .eventos div.content article.card-agenda a {
          flex-wrap: wrap; } }
      section.onde-ir div.container div.left .eventos div.content article.card-agenda a > div:first-child {
        margin: 20px 20px 15px 20px;
        width: 18%;
        height: 148px; }
        @media screen and (max-width: 768px) {
          section.onde-ir div.container div.left .eventos div.content article.card-agenda a > div:first-child {
            width: 100%;
            padding: 20px 0 15px 0; } }
        section.onde-ir div.container div.left .eventos div.content article.card-agenda a > div:first-child img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center; }
      section.onde-ir div.container div.left .eventos div.content article.card-agenda a .info {
        width: 73%;
        padding: 20px 55px 15px 0; }
        @media screen and (max-width: 768px) {
          section.onde-ir div.container div.left .eventos div.content article.card-agenda a .info {
            width: 100%;
            padding: 20px 0 15px 0; } }
        section.onde-ir div.container div.left .eventos div.content article.card-agenda a .info h2 {
          color: #272626;
          font-weight: 600;
          margin-bottom: 8px; }
          section.onde-ir div.container div.left .eventos div.content article.card-agenda a .info h2:first-of-type {
            font-size: 20px; }
          section.onde-ir div.container div.left .eventos div.content article.card-agenda a .info h2:nth-of-type(2) {
            font-size: 18px; }
        section.onde-ir div.container div.left .eventos div.content article.card-agenda a .info > p {
          font-size: 18px;
          color: #272626;
          margin-bottom: 15px; }
        section.onde-ir div.container div.left .eventos div.content article.card-agenda a .info > div:first-of-type {
          color: #272626;
          text-align: justify;
          font-size: 15px;
          line-height: 1.3; }
        section.onde-ir div.container div.left .eventos div.content article.card-agenda a .info > button {
          float: right;
          width: 130px;
          text-align: center;
          padding: 5px 0;
          background: #6f6c6c;
          color: #dedede;
          text-transform: uppercase;
          font-weight: bold;
          margin-top: 5px;
          border: none;
          transition: all 0.5s ease; }
          section.onde-ir div.container div.left .eventos div.content article.card-agenda a .info > button:hover {
            background: #dedede;
            color: #6f6c6c; }
    section.onde-ir div.container div.left .eventos div.content article.card-agenda:hover {
      box-shadow: 0 2px 14px 0 #c3c3c3; }
  section.onde-ir div.container div.left .eventos-anteriores {
    margin-top: 20px; }
    section.onde-ir div.container div.left .eventos-anteriores .content article.card-agenda {
      display: flex;
      margin-bottom: 5px;
      border: 1px solid #272626;
      border-radius: 6px;
      overflow: hidden;
      position: relative; }
      @media screen and (max-width: 660px) {
        section.onde-ir div.container div.left .eventos-anteriores .content article.card-agenda {
          flex-wrap: wrap; } }
      section.onde-ir div.container div.left .eventos-anteriores .content article.card-agenda > div:first-of-type {
        width: 68px;
        background: #272626;
        color: #fff; }
        @media screen and (max-width: 660px) {
          section.onde-ir div.container div.left .eventos-anteriores .content article.card-agenda > div:first-of-type {
            width: 100%; } }
        section.onde-ir div.container div.left .eventos-anteriores .content article.card-agenda > div:first-of-type p {
          background: #383636;
          color: #fff;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 600;
          text-align: center;
          padding: 4px 0; }
          section.onde-ir div.container div.left .eventos-anteriores .content article.card-agenda > div:first-of-type p:first-child {
            background: #272626;
            font-size: 30px;
            font-weight: bold;
            padding: 8px 0; }
      section.onde-ir div.container div.left .eventos-anteriores .content article.card-agenda .info {
        padding: 5px; }
        @media screen and (max-width: 660px) {
          section.onde-ir div.container div.left .eventos-anteriores .content article.card-agenda .info {
            width: 100%; } }
        section.onde-ir div.container div.left .eventos-anteriores .content article.card-agenda .info h2 {
          color: #272626;
          font-weight: 600;
          margin-bottom: 8px;
          font-size: 20px; }
        section.onde-ir div.container div.left .eventos-anteriores .content article.card-agenda .info p {
          font-size: 18px;
          color: #272626;
          margin-bottom: 15px; }
          @media screen and (max-width: 660px) {
            section.onde-ir div.container div.left .eventos-anteriores .content article.card-agenda .info p {
              margin-bottom: 45px; } }
      section.onde-ir div.container div.left .eventos-anteriores .content article.card-agenda > a:first-of-type {
        position: absolute;
        display: block;
        text-transform: uppercase;
        color: #fff;
        background: #383636;
        border: 1px solid #383636;
        font-weight: bold;
        font-size: 18px;
        width: 205px;
        text-align: center;
        padding: 5px 0;
        top: 50%;
        right: 35px;
        transform: translateY(-50%); }
        @media screen and (max-width: 660px) {
          section.onde-ir div.container div.left .eventos-anteriores .content article.card-agenda > a:first-of-type {
            top: unset;
            right: unset;
            left: 50%;
            transform: translateX(-50%);
            bottom: 10px; } }
        section.onde-ir div.container div.left .eventos-anteriores .content article.card-agenda > a:first-of-type:hover {
          background: #fff;
          color: #383636; }

section.onde-ir div.container div.right {
  width: 24%; }
  @media screen and (max-width: 768px) {
    section.onde-ir div.container div.right {
      width: 100%; } }
  @media screen and (max-width: 1170px) and (min-width: 769px) {
    section.onde-ir div.container div.right {
      width: 26%; } }
  section.onde-ir div.container div.right header h2 {
    text-transform: uppercase;
    color: #272626;
    font-size: 30px;
    margin-bottom: 40px; }
    section.onde-ir div.container div.right header h2:after {
      content: " ";
      display: block;
      width: 120px;
      height: 4px;
      background-color: #511717;
      margin-top: 5px; }
  @media screen and (max-width: 768px) and (min-width: 549px) {
    section.onde-ir div.container div.right div.content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }
  section.onde-ir div.container div.right div.content article.card {
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) and (min-width: 549px) {
      section.onde-ir div.container div.right div.content article.card {
        width: 48%; } }
    section.onde-ir div.container div.right div.content article.card > a {
      width: 100%;
      height: 206px; }
      section.onde-ir div.container div.right div.content article.card > a .info {
        height: 94px;
        padding: 8px 10px; }
        @media screen and (max-width: 1024px) {
          section.onde-ir div.container div.right div.content article.card > a .info {
            height: auto;
            padding: 8px 8px; } }
        section.onde-ir div.container div.right div.content article.card > a .info h2 {
          font-size: 17px; }
        section.onde-ir div.container div.right div.content article.card > a .info button {
          width: 155px;
          height: 23px;
          font-size: 15px;
          margin-top: 15px; }
  section.onde-ir div.container div.right div.content .anuncio {
    margin-top: 30px;
    width: 100%; }
    section.onde-ir div.container div.right div.content .anuncio .a-single {
      height: 355px; }

div#wrapper section.interna-onde-ir div.container div.left {
  width: 73%;
  margin-right: 30px; }
  @media screen and (max-width: 768px) {
    div#wrapper section.interna-onde-ir div.container div.left {
      width: 100%;
      margin-right: 0px;
      padding: 0; } }
  @media screen and (max-width: 1170px) and (min-width: 769px) {
    div#wrapper section.interna-onde-ir div.container div.left {
      width: 70%;
      margin-right: 20px; } }
  div#wrapper section.interna-onde-ir div.container div.left header span {
    color: #7a7a7a;
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: bold; }
  div#wrapper section.interna-onde-ir div.container div.left div.content main .post-thumbnail {
    height: 360px;
    margin-bottom: 20px; }
    @media screen and (max-width: 550px) {
      div#wrapper section.interna-onde-ir div.container div.left div.content main .post-thumbnail {
        height: 210px; } }
    @media screen and (max-width: 1024px) and (min-width: 551px) {
      div#wrapper section.interna-onde-ir div.container div.left div.content main .post-thumbnail {
        height: 320px; } }
    div#wrapper section.interna-onde-ir div.container div.left div.content main .post-thumbnail img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%; }
  div#wrapper section.interna-onde-ir div.container div.left div.content main .conteudo-post h2.promocao-title {
    text-transform: uppercase;
    font-size: 30px;
    color: #2d2d2d;
    font-weight: 600;
    margin-bottom: 20px; }
  div#wrapper section.interna-onde-ir div.container div.left div.content main .conteudo-post p {
    font-size: 18px;
    text-align: justify;
    line-height: 1;
    font-weight: lighter;
    margin-bottom: 20px; }
  div#wrapper section.interna-onde-ir div.container div.left div.content main .conteudo-post ul {
    list-style: none !important; }
    div#wrapper section.interna-onde-ir div.container div.left div.content main .conteudo-post ul li {
      font-size: 18px;
      padding: 5px 0; }
      div#wrapper section.interna-onde-ir div.container div.left div.content main .conteudo-post ul li::before {
        content: " ";
        width: 9px;
        height: 9px;
        display: inline-block;
        background: #511717;
        border-radius: 50%;
        margin-right: 5px;
        vertical-align: middle; }
  div#wrapper section.interna-onde-ir div.container div.left div.content main .acf-map {
    height: 250px;
    margin-top: 40px; }
  div#wrapper section.interna-onde-ir div.container div.left div.content .comentarios {
    margin-top: 25px; }

div#wrapper section.interna-onde-ir div.container div.right {
  width: 24%; }
  @media screen and (max-width: 768px) {
    div#wrapper section.interna-onde-ir div.container div.right {
      width: 100%; } }
  @media screen and (max-width: 1170px) and (min-width: 769px) {
    div#wrapper section.interna-onde-ir div.container div.right {
      width: 26%; } }
  div#wrapper section.interna-onde-ir div.container div.right header h2 {
    text-transform: uppercase;
    color: #272626;
    font-size: 30px;
    margin-bottom: 40px; }
    div#wrapper section.interna-onde-ir div.container div.right header h2:after {
      content: " ";
      display: block;
      width: 120px;
      height: 4px;
      background-color: #511717;
      margin-top: 5px; }
  @media screen and (max-width: 768px) and (min-width: 549px) {
    div#wrapper section.interna-onde-ir div.container div.right div.content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }
  div#wrapper section.interna-onde-ir div.container div.right div.content article.card {
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) and (min-width: 549px) {
      div#wrapper section.interna-onde-ir div.container div.right div.content article.card {
        width: 48%; } }
    div#wrapper section.interna-onde-ir div.container div.right div.content article.card > a {
      width: 100%;
      height: 206px; }
      div#wrapper section.interna-onde-ir div.container div.right div.content article.card > a .info {
        height: 94px;
        padding: 8px 10px; }
        @media screen and (max-width: 1024px) {
          div#wrapper section.interna-onde-ir div.container div.right div.content article.card > a .info {
            height: auto;
            padding: 8px 8px; } }
        div#wrapper section.interna-onde-ir div.container div.right div.content article.card > a .info h2 {
          font-size: 17px; }
        div#wrapper section.interna-onde-ir div.container div.right div.content article.card > a .info button {
          width: 155px;
          height: 23px;
          font-size: 15px;
          margin-top: 15px; }
  div#wrapper section.interna-onde-ir div.container div.right div.content .anuncio {
    margin-top: 30px;
    width: 100%; }
    div#wrapper section.interna-onde-ir div.container div.right div.content .anuncio .a-single {
      height: 355px; }

.como-anunciar .container .content {
  text-align: center; }
  .como-anunciar .container .content p {
    font-size: 19px;
    line-height: 1.3;
    font-weight: lighter;
    margin-bottom: 20px; }
  .como-anunciar .container .content svg {
    width: 50px;
    height: 50px;
    margin-bottom: 30px; }

div#wrapper .search-page .container article.status-publish {
  margin-bottom: 40px; }
  div#wrapper .search-page .container article.status-publish header h2 {
    text-transform: uppercase;
    font-size: 30px; }
    div#wrapper .search-page .container article.status-publish header h2:after {
      content: " ";
      display: block;
      width: 120px;
      height: 4px;
      background-color: #511717;
      margin-top: 5px; }
    div#wrapper .search-page .container article.status-publish header h2 a {
      color: #272626; }
  div#wrapper .search-page .container article.status-publish .entry-meta time {
    color: #7a7a7a;
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: bold; }
  div#wrapper .search-page .container article.status-publish .entry-summary p {
    font-size: 19px;
    text-align: justify;
    line-height: 1.3;
    font-weight: lighter; }
  div#wrapper .search-page .container article.status-publish .entry-utility {
    display: none; }

div#wrapper .search-page .container .navigation > div a {
  height: 30px;
  background: #f9f8f8;
  border: 1px solid #d7d7d7;
  display: inline-block;
  line-height: 26px;
  font-family: 'Oswald';
  font-size: 20px;
  color: #383636;
  font-weight: bold;
  width: 190px;
  text-align: center;
  margin-bottom: 20px; }
  div#wrapper .search-page .container .navigation > div a:hover {
    background: #272626;
    color: #fff; }
